<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">{{'addGradeScale'|translate}}</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content fxLayout="column">
    <mat-form-field class="mt-6" appearance="outline" color="primary">
        <mat-label>{{'gradeScaleName' | translate}}</mat-label>
        <input type="text" cdkFocusInitial matInput required>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="outline" color="primary">
        <mat-label>{{'scaleValue' | translate}}</mat-label>
        <input type="text" matInput required>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="outline" color="primary">
        <mat-label>{{'sortOrder' | translate}}</mat-label>
        <input type="number" matInput>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="outline" color="primary">
        <mat-label>{{'comment' | translate}}</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>

    <div class="flex">
        <mat-slide-toggle class="mr-4" formControlName="isActive" color="primary">{{'calculateGPA' | translate}}</mat-slide-toggle>
        <mat-slide-toggle formControlName="isActive" color="primary">{{'useAsStandardGradeScale' | translate}}</mat-slide-toggle>
    </div>

</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="py-6">
    <button mat-button mat-dialog-close type="button">{{'cancel' | translate}}</button>
    <button color="primary" mat-raised-button type="submit">{{'submit' | translate}}</button>
</mat-dialog-actions>