<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">{{'addPeriod'|translate}}</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content fxLayout="column">
    <mat-form-field class="mt-6" appearance="outline" color="primary">
        <mat-label>{{'title' | translate}}</mat-label>
        <input cdkFocusInitial matInput required>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="outline" color="primary">
        <mat-label>{{'shortName' | translate}}</mat-label>
        <input type="text" matInput required>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="outline" color="primary">
        <mat-label>{{'startTime' | translate}}</mat-label>
        <input  name="startTime" [(ngModel)]="dateTime1"
        [owlDateTimeTrigger]="startTime" [owlDateTime]="startTime" matInput required>
        <owl-date-time [pickerType]="'timer'" [hour12Timer]='true' #startTime></owl-date-time>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="outline" color="primary">
        <mat-label>{{'endTime' | translate}}</mat-label>
        <input  name="endTime" [(ngModel)]="dateTime2"
        [owlDateTimeTrigger]="endTime" [owlDateTime]="endTime" matInput required>
        <owl-date-time [pickerType]="'timer'" [hour12Timer]='true' #endTime></owl-date-time>
    </mat-form-field>
    
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="py-6">
    <button mat-button mat-dialog-close type="button">{{'cancel' | translate}}</button>
    <button color="primary" mat-raised-button type="submit">{{'submit' | translate}}</button>
</mat-dialog-actions>