<mat-card class="w-full">

    <mat-card-header>
        <mat-card-title>{{'schoolInformation'|translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <div @stagger fxLayout="column">
            <h4 class="text-primary px-4 pb-2">{{'officialInformation'|translate}}</h4>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'openSISProfile'|translate}}</mat-label>
                        <mat-select name="openSISProfile">
                            <mat-option value="">Super Administrator</mat-option>
                            <mat-option value="">Teacher</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'jobTitle'|translate}}</mat-label>
                        <input name="jobTitle" matInput required>
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'joiningDate'|translate}}</mat-label>
                        <input matInput [matDatepicker]="picker1">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'endDate'|translate}}</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            
            <div class="mb-6 mx-4">
                <mat-slide-toggle color="primary">{{'homeroomTeacher' | translate}}</mat-slide-toggle>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex-1 mx-4 md:w-1/2">
                    <mat-form-field class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'primaryGradeLevelTaught'|translate}}</mat-label>
                        <mat-select name="primaryGradeLevelTaught">
                            <mat-option value="">Grade Level Values</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="w-full mt-2" appearance="outline" color="primary">
                        <mat-label>{{'otherGradeLevelTaught'|translate}}</mat-label>
                        <mat-select name="otherGradeLevelTaught" multiple>
                            <mat-option value="">Grade 1</mat-option>
                            <mat-option value="">Grade 2</mat-option>
                            <mat-option value="">Grade 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex-1 mx-4 md:w-1/2">
                    <mat-form-field class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'primarySubjectTaught'|translate}}</mat-label>
                        <mat-select name="primarySubjectTaught">
                            <mat-option value="">Subject Values</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="w-full mt-2" appearance="outline" color="primary">
                        <mat-label>{{'otherSubjectTaught'|translate}}</mat-label>
                        <mat-select name="otherSubjectTaught" multiple>
                            <mat-option value="">Subject Values</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="flex w-full justify-between items-center px-4 pb-2 pt-10">
                <h4 class="text-primary">{{'schoolInformation'|translate}}</h4>
                <div class="text-right">
                    <button mat-raised-button color="primary">
                        <mat-icon [icIcon]="icAdd"></mat-icon> {{'addSchoolInfo' |translate}}
                    </button>
                </div>
            </div>
            <div
                class="bg-white shadow-md border border-primary-light hover:border-primary rounded px-4 pt-3 mb-4 mx-4">
                <div class="flex flex-wrap w-full justify-between">
                    <div class="w-11/12 -mx-4">
                            <div class="flex flex-wrap">
                            <div class="w-1/2 px-4">
                                    <mat-form-field class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'school'|translate}}</mat-label>
                                        <mat-select name="school" multiple required>
                                            <mat-option value="">Southpoint High School</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            <div class="w-1/2 px-4">
                                    <mat-form-field class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'profile'|translate}}</mat-label>
                                        <mat-select name="profile" required>
                                            <mat-option value="">Teacher</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="flex flex-wrap">
                            <div class="w-1/2 px-4">
                                    <mat-form-field class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'startDate'|translate}}</mat-label>
                                        <input matInput [matDatepicker]="startDate" required>
                                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                                        <mat-datepicker #startDate></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            <div class="w-1/2 px-4">
                                    <mat-form-field class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'endDate'|translate}}</mat-label>
                                        <input matInput [matDatepicker]="endDate">
                                        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                                        <mat-datepicker #endDate></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                    </div>
                    <div class="w-1/12 text-center pt-2">
                        <a routerLink="" class="cursor-pointer">
                            <mat-icon [icIcon]="icClear"></mat-icon>
                        </a>
                    </div>
                </div>
            </div>

            <div
                class="bg-white shadow-md border border-primary-light hover:border-primary rounded px-4 pt-3 mb-4 mx-4">
                <div class="flex flex-wrap w-full justify-between">
                    <div class="w-11/12 -mx-4">
                            <div class="flex flex-wrap">
                            <div class="w-1/2 px-4">
                                    <mat-form-field class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'school'|translate}}</mat-label>
                                        <mat-select name="school" multiple required>
                                            <mat-option value="">Southpoint High School</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            <div class="w-1/2 px-4">
                                    <mat-form-field class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'profile'|translate}}</mat-label>
                                        <mat-select name="profile" required>
                                            <mat-option value="">Teacher</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="flex flex-wrap">
                            <div class="w-1/2 px-4">
                                    <mat-form-field class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'startDate'|translate}}</mat-label>
                                        <input matInput [matDatepicker]="startDate1" required>
                                        <mat-datepicker-toggle matSuffix [for]="startDate1"></mat-datepicker-toggle>
                                        <mat-datepicker #startDate1></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            <div class="w-1/2 px-4">
                                    <mat-form-field class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'endDate'|translate}}</mat-label>
                                        <input matInput [matDatepicker]="endDate1">
                                        <mat-datepicker-toggle matSuffix [for]="endDate1"></mat-datepicker-toggle>
                                        <mat-datepicker #endDate1></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                    </div>
                    <div class="w-1/12 text-center pt-2">
                        <a routerLink="" class="cursor-pointer">
                            <mat-icon [icIcon]="icClear"></mat-icon>
                        </a>
                    </div>
                </div>
            </div>
            <div class="px-4 pt-3 mb-4 text-right">
                <button color="primary" mat-raised-button>{{'submit'|translate}}</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>