<form [formGroup]="form" (ngSubmit)="submit()">

    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
        <h2 class="headline m-0" fxFlex="auto">{{languageModalTitle|translate}}</h2>
    
        <button class="text-secondary" (click) = 'closeDialog()' mat-dialog-close mat-icon-button type="button">
            <mat-icon [icIcon]="icClose"></mat-icon>
        </button>
    </div>
    <mat-divider class="-mx-6 text-border"></mat-divider>
    
    <mat-dialog-content fxLayout="column">
        <mat-form-field class="mt-6" appearance="outline" color="primary">
            <mat-label>{{'title' | translate}}</mat-label>
            <input   formControlName="locale"  [(ngModel)]="languageModel.language.locale" name="locale"  cdkFocusInitial matInput required>
            <mat-error *ngIf="form.get('locale').hasError('required')">{{'titleIsRequired'|translate}}</mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="outline" color="primary">
            <mat-label>{{'shortCode' | translate}}</mat-label>
            <input formControlName="languageCode"  [(ngModel)]="languageModel.language.languageCode" name="languageCode"  matInput required>
            <mat-error *ngIf="form.get('languageCode').hasError('required')">{{'shortCodeIsRequired'|translate}}</mat-error>
        </mat-form-field>
    
    </mat-dialog-content>
    
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="py-6">
        <button mat-button mat-dialog-close type="button" (click) = 'closeDialog()'>{{'cancel' | translate}}</button>
        <button color="primary" mat-raised-button type="submit">{{languageModalActionTitle | translate}}</button>
    </mat-dialog-actions>
    </form>