<mat-card class="w-full">

    <mat-card-header>
        <mat-card-title>{{'generalInformation'|translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <div @stagger fxLayout="column">
            <h4 class="text-primary px-4 pb-2">{{'identificationInformation'|translate}}</h4>
            <ul class="grid grid-cols-2 col-gap-8 row-gap-2 mt-2 mx-4">
                <li>
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'salutation'|translate}}</mat-label>
                        <mat-select name="salutation">
                            <mat-option value="">Mr.</mat-option>
                            <mat-option value="">Miss.</mat-option>
                            <mat-option value="">Mrs.</mat-option>
                            <mat-option value="">Ms.</mat-option>
                            <mat-option value="">Dr.</mat-option>
                            <mat-option value="">Rev.</mat-option>
                            <mat-option value="">Prof.</mat-option>
                            <mat-option value="">Sir.</mat-option>
                            <mat-option value="">Lord </mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'suffix'|translate}}</mat-label>
                        <mat-select name="suffix">
                            <mat-option value=""></mat-option>
                            <mat-option value="">Jr.</mat-option>
                            <mat-option value="">Sr</mat-option>
                            <mat-option value="">II</mat-option>
                            <mat-option value="">III</mat-option>
                            <mat-option value="">IV</mat-option>
                            <mat-option value="">V</mat-option>
                            <mat-option value="">PhD</mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>
                <li>
                    <div class="flex">
                    <div class="flex flex-1 mr-4 w-1/4 md:w-1/4">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'firstGivenName'|translate}}</mat-label>
                        <input name="firstGivenName" matInput required>
                    </mat-form-field>
                </div>
                    <div class="flex flex-1 ml-4 w-1/4 md:w-1/4">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'middleName'|translate}}</mat-label>
                        <input name="middleName" matInput>
                    </mat-form-field>
                </div>
                </div>
                </li>
                <li>
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'lastFamilyName'|translate}}</mat-label>
                        <input name="lastFamilyName" matInput required>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'staffId'|translate}}</mat-label>
                        <input name="staffId" matInput required>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'alternateId'|translate}}</mat-label>
                        <input name="alternateId" matInput>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'districtId'|translate}}</mat-label>
                        <input name="districtId" matInput>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'stateId'|translate}}</mat-label>
                        <input name="stateId" matInput>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'preferredCommonName'|translate}}</mat-label>
                        <input name="preferredCommonName" matInput>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'previousMaidenName'|translate}}</mat-label>
                        <input name="previousName" matInput>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'socialSecurityNumber'|translate}}</mat-label>
                        <input name="socialSecurityNumber" matInput>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'otherGovtIssuedNumber'|translate}}</mat-label>
                        <input name="lastFamilyName" matInput>
                    </mat-form-field>
                </li>
            </ul>

            <h4 class="text-primary pt-6 pb-2 px-4">{{'demographicInformation'|translate}}</h4>
            <ul class="grid grid-cols-2 col-gap-8 row-gap-2 mt-2 mx-4">
                <li>
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'gender'|translate}}</mat-label>
                        <mat-select name="gender">
                            <mat-option value="Male">Male</mat-option>
                            <mat-option value="Female">Female</mat-option>
                            <mat-option value="Other">Other</mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'race'|translate}}</mat-label>
                        <mat-select name="gender">
                            <mat-option value="Male">LOV will be provided</mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'ethnicity'|translate}}</mat-label>
                        <mat-select name="gender">
                            <mat-option value="Male">LOV will be provided</mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'maritalStatus'|translate}}</mat-label>
                        <mat-select name="gender">
                            <mat-option value="Single">Single</mat-option>
                            <mat-option value="Married">Married</mat-option>
                            <mat-option value="Partnered">Partnered</mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'dateOfBirth'|translate}}</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'countryOfBirth'|translate}}</mat-label>
                        <mat-select name="countryOfBirth">
                            <mat-option value="Single">Show Country List</mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'nationality'|translate}}</mat-label>
                        <mat-select name="nationality">
                            <mat-option value="Single">Show List</mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'firstLanguage'|translate}}</mat-label>
                        <mat-select name="firstLanguage">
                            <mat-option value="Single">Show Language List</mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'secondLanguage'|translate}}</mat-label>
                        <mat-select name="secondLanguage">
                            <mat-option value="Single">Show List</mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>
                <li>
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'thirdLanguage'|translate}}</mat-label>
                        <mat-select name="thirdLanguage">
                            <mat-option value="Single">Show Language List</mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>
                <li>
                    <div><mat-slide-toggle color="primary" class="mb-2" checked="checked">{{'physicallyDisabled' | translate}}
                    </mat-slide-toggle></div>
                    <mat-form-field class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'disabilityDescription'|translate}}</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                </li>
            </ul>


            <h4 class="text-primary pt-6 pb-2 px-4">{{'accessInformation'|translate}}</h4>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'loginEmailAddress'|translate}}</mat-label>
                        <input name="login_email" matInput>
                    </mat-form-field>
                </div>
                <div class="flex-1 mx-4 md:w-1/2">
                    <mat-form-field class="flex-none w-full mb-0" appearance="outline" color="primary">
                        <mat-label>{{'password'|translate}}</mat-label>
                        <input [type]="inputType" name="password" matInput required>
                        <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility"
                            type="button">
                            <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
                            <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
                        </button>
                    </mat-form-field>
                    <p class="flex-none -mt-3 mb-4"><a routerLink="http://www.google.com"
                            class="text-primary underline cursor-pointer">Auto Generate Password</a></p>
                </div>
            </div>
            <div class="mb-6 mx-4">
                <mat-slide-toggle color="primary" checked="checked" class="mb-4">{{'portalAccess' | translate}}
                </mat-slide-toggle>
            </div>

            <div class="px-4 pt-3 mb-4 text-right">
                <button color="primary" mat-raised-button>{{'saveAndNext'|translate}}</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>