
<vex-page-layout>
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">        
        <vex-secondary-toolbar current="Add School Information" class="w-full">
            <vex-breadcrumbs [crumbs]="['School','Add School']" class="flex-auto"></vex-breadcrumbs>
        </vex-secondary-toolbar>
    </vex-page-layout-header>    
    <vex-page-layout-content class="-mt-6">
        <mat-drawer-container class="bg-transparent flex-auto flex -mt-16">
            <mat-drawer-content class="flex-auto flex items-start">
                <div class="hidden sm:block mr-6 ng-tns-c284-386 ng-star-inserted w-1/6">
                    <div class="max-w-xxxs w-full">
                        <div class="h-45 mb-6 flex items-center sm:px-0" fxLayout="row" fxLayoutAlign="start center">
                            <vex-profile-image [enableCropTool]="enableCropTool" [responseImage]="responseImage" [mode]="modeForImage"></vex-profile-image>
                        </div>

                        <div class="px-gutter sm:px-0">
                            <a @fadeInRight [ngClass]=" generalFlag ? 'list-item mt-2 no-underline flex items-center bg-primary hover:bg-primary text-white' : 'list-item mt-2 no-underline flex items-center'" (click) = "isViewMode ? showViewGeneralInfo() : showGeneralEdit()" matRipple>
                                <!-- <ic-icon [icon]="item.icon" [ngClass]="item.classes?.icon" class="ltr:mr-3 rtl:ml-3" size="24px"></ic-icon> -->
                                <span>General Information</span>
                            </a>
                            <button @fadeInRight [ngClass]=" washFlag ? 'list-item mt-2 no-underline flex items-center bg-primary hover:bg-primary text-white' : 'list-item mt-2 no-underline flex items-center'" (click) = "isViewMode? showViewWashInfo() : showWashEdit($event)" [disabled]="disabledWashInfo"  matRipple>
                                <span>WASH Information</span>
                            </button>
                            <a @fadeInRight class="list-item mt-2 no-underline flex items-center" matRipple>
                                <!-- <ic-icon [icon]="item.icon" [ngClass]="item.classes?.icon" class="ltr:mr-3 rtl:ml-3" size="24px"></ic-icon> -->
                                <span>Other Information</span>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div class="w-full" fxFlex="auto">
                    <div  *ngIf="displayGeneral">
                        <vex-general-info (parentShowWash)="showWashEdit($event)"
                            [dataOfgeneralInfoFromWash]="dataOfgeneralInfoFromWash"
                            [dataOfwashInfoFromGeneral]="dataOfwashInfoFromGeneral"
                            [dataOfgeneralInfoFromView]="dataOfgeneralInfoFromView" 
                            (dataOfgeneralInfo) = "getDataOfgeneralInfo($event)" 
                            [isEditMode]="isEditMode"
                            [image]="image">
                        </vex-general-info>
                     </div>
                     <div  *ngIf="displayWash">
                        <vex-wash-info  
                            [dataOfgeneralInfo]="dataOfgeneralInfo" 
                            [dataOfWashInfoFromView]="dataOfWashInfoFromView" >
                        </vex-wash-info>
                     </div>  
                     <div *ngIf="displayViewGeneral" >
                        <vex-view-general-info                            
                            (parentShowWash)="showGeneralEdit()" 
                            (dataOfgeneralInfoFromView)= "getDataOfgeneralInfoFromView($event)"
                            [generalAndWashInfoData]="generalAndWashInfoData"
                            >

                        </vex-view-general-info>
                     </div> 
                     <div *ngIf="displayViewWash" >
                        <vex-view-wash-info                           
                            (parentShowWash)="showWashEdit($event)" 
                            (dataOfWashInfoFromView)= "getDataOfWashInfoFromView($event)" 
                            [generalAndWashInfoData]="generalAndWashInfoData"
                            >
                        </vex-view-wash-info>
                     </div> 
                             
                </div>
            </mat-drawer-content>
        </mat-drawer-container>
    </vex-page-layout-content>
</vex-page-layout>