<vex-page-layout>
    <vex-mat-spinner-overlay *ngIf="loading"></vex-mat-spinner-overlay>
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
        <vex-secondary-toolbar current={{schoolTitle}} class="w-full">
            <vex-breadcrumbs [crumbs]="['School Info',pageStatus]" class="flex-auto"></vex-breadcrumbs>
        </vex-secondary-toolbar>
    </vex-page-layout-header>
    <vex-page-layout-content class="-mt-6">
        <mat-drawer-container class="bg-transparent flex-auto flex -mt-16">
            <mat-drawer-content class="flex-auto flex items-start">
                <div class="hidden sm:block mr-6 ng-tns-c284-386 ng-star-inserted w-1/6">
                    <div class="max-w-xxxs w-full">
                        <div class="h-45 mb-6 flex justify-center sm:px-0">
                            <vex-profile-image [enableCropTool]="enableCropTool" [responseImage]="responseImage"
                                ></vex-profile-image>
                        </div>

                        <div class="px-gutter sm:px-0">
                            <p *ngFor="let field of fieldsCategory;let index=index">
                                <button @fadeInRight class="list-item mt-2 no-underline flex items-center w-full"
                                    [ngClass]="currentCategory == field.categoryId?'bg-primary hover:bg-primary text-white' : ''"
                                    (click)="changeCategory(field,index)" matRipple>
                                    <span>{{field.title}}</span>
                                </button>
                            </p>

                        </div>
                    </div>
                </div>
                <div class="w-full" fxFlex="auto">
                    <vex-general-info *ngIf="currentCategory==1" [schoolCreateMode]="schoolCreateMode"
                        [schoolDetailsForViewAndEdit]="schoolAddViewModel" [categoryId]="indexOfCategory">
                    </vex-general-info>

                    <vex-wash-info *ngIf="currentCategory==2" [schoolCreateMode]="schoolCreateMode"
                        [schoolDetailsForViewAndEdit]="schoolAddViewModel" [categoryId]="indexOfCategory">
                    </vex-wash-info>
                    <div *ngFor="let field of fieldsCategory;let index=index">
                        <vex-custom-field *ngIf="field.categoryId == currentCategory && indexOfCategory > 1" [categoryTitle]="field.title"
                            [schoolCreateMode]="schoolCreateMode" [schoolDetailsForViewAndEdit]="schoolAddViewModel"
                            [categoryId]="indexOfCategory"  [module] = "module">
                        </vex-custom-field>
                    </div>

                </div>
            </mat-drawer-content>
        </mat-drawer-container>
    </vex-page-layout-content>
</vex-page-layout>