<div class="text-center" style="display:none" *ngIf="enableCropTool">
      <ng-template #mytemplate>
    <div class="flex justify-between">
      <h2 class="text-center">Crop Image</h2>
      <button class="text-secondary" (click)="onClose()" mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
      </button>
        </div>
    <div class="flex justify-around">
          <div>
            <image-cropper (imageCropped)="imageCropped($event)" [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true" [aspectRatio]="1/1" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
              [onlyScaleDown]="false" (loadImageFailed)="loadImageFailed()">
            </image-cropper>
          </div>
          <div>
        <img [src]="croppedImage" width="200px" height="200px" />
          </div>
        </div>
      </ng-template>
    </div>
<div class="input-group" style="display: none;">
  <input [type]="inputType" (change)="uploadFile($event,fileUpload)" #fileUpload
    accept="image/jpg, image/jpeg, image/png">
  </div>
<div @fadeInRight class="d-flex justify-center cursor-pointer photo-upload" (click)="fileUpload.click();unsetImage()">
  <div @fadeInRight class="inline-block align-top bg-white rounded-full"
    *ngIf="croppedImage=='' && preview=='' && (responseImage==null || responseImage.length==0)">
    <img src="../../../../assets/img/UploadPhoto.svg" width="200" height="200" class="rounded-full"
      alt="Upload School Logo">
  </div>
  <div @fadeInRight class="inline-block align-top" *ngIf="preview!='' && croppedImage==''">
    <img [src]="preview" class="rounded-full border-2 border-gray-light" width="200" height="200" />
  </div>
  <div @fadeInRight *ngIf="responseImage" class="inline-block align-top">
    <img [src]="'data:image/jpeg;base64,'+responseImage" class="rounded-full border-2 border-gray-light" width="200"
      height="200" />
    </div>
  <div *ngIf="croppedImage!=''" class="inline-block align-top">
    <img @fadeInRight [src]="croppedImage" class="rounded-full border border-1 border-gray-light" width="200"
      height="200" />
  </div>
</div>