<vex-mat-spinner-overlay *ngIf="loading" color="accent"></vex-mat-spinner-overlay>
<div class="flex container-sidenav-secondary">
    <div class="sidenav-secondary">
        <vex-scrollbar class="flex-auto">
            <div class="h-45 flex items-center sm:px-0" fxLayout="row" fxLayoutAlign="start center">
                <vex-profile-image [enableCropTool]="enableCropTool" [responseImage]="responseImage">
                </vex-profile-image>

            </div>
            <div class="text-center px-4">
                <h5 class="text-primary font-semibold mb-0">Mr. Danielle Boucher</h5>
                <div class="rounded-full py-1 px-3 bg-gray text-white inline-block mt-3">{{'teacher'|translate}}</div>
            </div>
            <hr class="mt-4" />

            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon class="mr-3"></mat-icon> Staff Details
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <ul class="nav-sub-item">
                            <li *ngFor="let field of fieldsCategory; let index =index"
                                (click)="changeCategory(field,index)">
                                <a [ngClass]="currentCategory==field.categoryId?'text-primary' : ''"
                                    @fadeInRight>{{field.title}}</a>
                            </li>
                        </ul>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <div class="px-gutter sm:px-0">
                <a @fadeInRight routerLink="" (click)='showPage("General Info")'
                    [ngClass]=" pageId =='General Info' ? 'text-primary active' : ''"
                    class="list-item mt-2 no-underline flex items-center rounded-none" matRipple>
                    <mat-icon [icIcon]="icGeneralInfo" class="mr-3"></mat-icon> {{'generalInfo'|translate}}
                </a>
                <a @fadeInRight routerLink="" (click)='showPage("School Info")'
                    [ngClass]=" pageId =='School Info' ? 'text-primary active' : ''"
                    class="list-item mt-2 no-underline flex items-center rounded-none" matRipple>
                    <mat-icon [icIcon]="icSchoolInfo" class="mr-3"></mat-icon> {{'schoolInfo'|translate}}
                </a>
                <a @fadeInRight routerLink="" (click)='showPage("Address & Contact Info")'
                    [ngClass]=" pageId =='Address & Contact Info' ? 'text-primary active' : ''"
                    class="list-item mt-2 no-underline flex items-center rounded-none" matRipple>
                    <mat-icon [icIcon]="icAddressInfo" class="mr-3"></mat-icon> {{'addressContactInfo'|translate}}
                </a>
                <a @fadeInRight routerLink="" (click)='showPage("Certification Info")'
                    [ngClass]=" pageId =='Certification Info' ? 'text-primary active' : ''"
                    class="list-item mt-2 no-underline flex items-center rounded-none" matRipple>
                    <mat-icon [icIcon]="icCertificationInfo" class="mr-3"></mat-icon> {{'certificationInfo'|translate}}
                </a>
                <!-- <a @fadeInRight routerLink="" (click)='showPage("Login Info")' [ngClass]=" pageId =='Login Info' ? 'text-primary active' : ''" class="list-item mt-2 no-underline flex items-center rounded-none" matRipple>
                    <mat-icon [icIcon]="icLoginInfo" class="mr-3"></mat-icon> Login Info
                </a> -->
                <a @fadeInRight routerLink="" (click)='showPage("Schedule")'
                    [ngClass]=" pageId =='Schedule' ? 'text-primary active' : ''"
                    class="list-item mt-2 no-underline flex items-center rounded-none" matRipple>
                    <mat-icon [icIcon]="icSchedule" class="mr-3"></mat-icon> {{'schedule'|translate}}
                </a>
            </div>
        </vex-scrollbar>
    </div>
    <div class="right-content">


        <vex-page-layout>
            <vex-page-layout-header class="pb-16 pt-6" fxLayoutAlign="center start">
                <vex-secondary-toolbar current="Staff Information" class="w-full">
                    <vex-breadcrumbs [crumbs]="['Staff','View Staff']" class="flex-auto"></vex-breadcrumbs>
                </vex-secondary-toolbar>
            </vex-page-layout-header>
            <vex-page-layout-content class="-mt-14">
                <mat-drawer-container class="bg-transparent flex-auto flex -mt-16">
                    <mat-drawer-content class="flex-auto flex items-start">
                        <div class="w-full" fxFlex="auto">

                            <vex-staff-generalinfo *ngIf="currentCategory==12" [staffCreateMode]="staffCreateMode"
                                [staffDetailsForViewAndEdit]="staffAddModel" [categoryId]="indexOfCategory">
                            </vex-staff-generalinfo>

                            <vex-staff-schoolinfo *ngIf="currentCategory==13"
                                [staffCreateMode]="staffCreateMode"
                                [staffDetailsForViewAndEdit]="staffAddModel"></vex-staff-schoolinfo>


                            <vex-staff-addressinfo *ngIf="currentCategory==14" [staffCreateMode]="staffCreateMode"
                                [staffDetailsForViewAndEdit]="staffAddModel" [categoryId]="indexOfCategory">
                            </vex-staff-addressinfo>

                            <vex-staff-certificationinfo *ngIf="currentCategory==15"></vex-staff-certificationinfo>

                            <div *ngFor="let field of fieldsCategory;let index=index">
                                <vex-custom-field *ngIf="field.categoryId == currentCategory && indexOfCategory > 3"
                                    [categoryTitle]="field.title" [module]="module"
                                    [schoolDetailsForViewAndEdit]="staffAddModel" [categoryId]="indexOfCategory"
                                    [staffCreateMode]="staffCreateMode" [schoolDetailsForViewAndEdit]="staffAddModel"
                                    [categoryId]="indexOfCategory">
                                </vex-custom-field>
                            </div>

                        </div>
                    </mat-drawer-content>
                </mat-drawer-container>
            </vex-page-layout-content>
        </vex-page-layout>
    </div>
</div>
