<mat-card class="w-full">

    <mat-card-header>
        <mat-card-title>{{'addressAndContacts'|translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <div @stagger fxLayout="column">
            <h4 class="text-primary px-4 pb-2">{{'personalContactInformation'|translate}}</h4>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'homePhone'|translate}}</mat-label>
                        <input name="home_phone" matInput>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'mobilePhone'|translate}}</mat-label>
                        <input name="mobile_phone" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'personalEmail'|translate}}</mat-label>
                        <input name="personal_email" matInput>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'schoolEmail'|translate}}</mat-label>
                        <input name="school_email" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'twitter'|translate}}</mat-label>
                        <input name="twitter" matInput>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'facebook'|translate}}</mat-label>
                        <input name="facebook" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'instagram'|translate}}</mat-label>
                        <input name="instagram" matInput>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'youtube'|translate}}</mat-label>
                        <input name="youtube" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'linkedIn'|translate}}</mat-label>
                        <input name="linkedin" matInput>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2"></div>
            </div>

            <h4 class="text-primary px-4 pb-2 pt-10">{{'studentHomeAddress'|translate}}</h4>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'streetAddress1'|translate}}</mat-label>
                        <input name="street_address_1" matInput>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'streetAddress2'|translate}}</mat-label>
                        <input name="street_address_2" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'country'|translate}}</mat-label>
                        <input name="country" matInput>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'stateProvinceLocality'|translate}}</mat-label>
                        <input name="state_province_locality" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'city'|translate}}</mat-label>
                        <input name="city" matInput>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'county'|translate}}</mat-label>
                        <input name="country" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'zipPostalCode'|translate}}</mat-label>
                        <input name="city" matInput>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2"></div>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'busNo'|translate}}</mat-label>
                        <input name="city" matInput>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2 md:pt-3">
                    <mat-checkbox formControlName="doesGrades" color="primary" class="mr-6">{{'busPickup' | translate}}</mat-checkbox>
                    <mat-checkbox formControlName="doesGrades" color="primary">{{'busDropoff' | translate}}</mat-checkbox>
                </div>
            </div>

            <h4 class="text-primary px-4 pb-2 pt-10">{{'studentMailingAddress'|translate}}</h4>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'streetAddress1'|translate}}</mat-label>
                        <input name="street_address_1" matInput>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'streetAddress2'|translate}}</mat-label>
                        <input name="street_address_2" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'country'|translate}}</mat-label>
                        <input name="country" matInput>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'stateProvinceLocality'|translate}}</mat-label>
                        <input name="state_province_locality" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'city'|translate}}</mat-label>
                        <input name="city" matInput>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'county'|translate}}</mat-label>
                        <input name="country" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'zip/Postal Code'|translate}}</mat-label>
                        <input name="city" matInput>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2"></div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div class="px-4 mb-2 text-right">
            <button color="primary" mat-raised-button>{{'submit'|translate}}</button>
        </div>
    </mat-card-actions>

</mat-card>