<form (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>

<mat-card class="w-full">
    <mat-card-header>
        <mat-card-title>{{'addressAndContact'|translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <div @stagger fxLayout="column">
            <h4 class="text-primary px-4 pb-2">{{'studentHomeAddress'|translate}}</h4>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'streetAddress1'|translate}}</mat-label>
                        <input [(ngModel)]="studentAddModel.studentMaster.homeAddressLineOne"  name="homeAddressLineOne" matInput required>
                       
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'streetAddress2'|translate}}</mat-label>
                        <input [(ngModel)]="studentAddModel.studentMaster.homeAddressLineTwo"  name="homeAddressLineTwo" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'country'|translate}}</mat-label>
                        <mat-select [(ngModel)]="studentAddModel.studentMaster.homeAddressCountry"  name="homeAddressCountry">
                            <mat-option value=""></mat-option>
                            <mat-option *ngFor="let country of countryListArr" [value]= 'country.id'>
                                {{country.name}}
                            </mat-option>
                        </mat-select>
                       
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'stateProvinceLocality'|translate}}</mat-label>
                        <input [(ngModel)]="studentAddModel.studentMaster.homeAddressState"  name="homeAddressState" matInput required>
                        
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'city'|translate}}</mat-label>
                        <input [(ngModel)]="studentAddModel.studentMaster.homeAddressCity"  name="homeAddressCity" matInput required>
                         
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'zipPostalCode'|translate}}</mat-label>
                        <input [(ngModel)]="studentAddModel.studentMaster.homeAddressZip"  name="homeAddressZip" matInput required>
                       
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'busNo'|translate}}</mat-label>
                        <input [(ngModel)]="studentAddModel.studentMaster.busNo"  name="busNo" matInput>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2 md:pt-3">
                    <mat-checkbox [(ngModel)]="studentAddModel.studentMaster.schoolBusPickUp"  name="schoolBusPickUp" color="primary" class="mr-6">{{'busPickup' | translate}}</mat-checkbox>
                    <mat-checkbox [(ngModel)]="studentAddModel.studentMaster.schoolBusDropOff"  name="schoolBusDropOff" color="primary">{{'busDropoff' | translate}}</mat-checkbox>
                </div>
            </div>

            <h4 class="text-primary px-4 pb-2 pt-10">{{'studentMailingAddress'|translate}}</h4>
            <div class="px-4 pb-3">
                <mat-checkbox [checked]="checkBoxChecked" [(ngModel)]="studentAddModel.studentMaster.mailingAddressSameToHome" (click)="copyHomeAddress($event)" name="mailingAddressSameToHome" color="primary">{{'sameAsHomeAddress' | translate}}</mat-checkbox>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'streetAddress1'|translate}}</mat-label>
                        <input [(ngModel)]="studentAddModel.studentMaster.mailingAddressLineOne"  name="mailingAddressLineOne" matInput>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'streetAddress2'|translate}}</mat-label>
                        <input [(ngModel)]="studentAddModel.studentMaster.mailingAddressLineTwo"  name="mailingAddressLineTwo" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'country'|translate}}</mat-label>
                        <mat-select [(ngModel)]="studentAddModel.studentMaster.mailingAddressCountry"  name="mailingAddressCountry">
                            <mat-option value=""></mat-option>
                            <mat-option *ngFor="let country of countryListArr" [value]= 'country.id'>
                                {{country.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'stateProvinceLocality'|translate}}</mat-label>
                        <input [(ngModel)]="studentAddModel.studentMaster.mailingAddressState"  name="mailingAddressState" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'city'|translate}}</mat-label>
                        <input [(ngModel)]="studentAddModel.studentMaster.mailingAddressCity"  name="mailingAddressCity" matInput>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'zip/Postal Code'|translate}}</mat-label>
                        <input [(ngModel)]="studentAddModel.studentMaster.mailingAddressZip"  name="mailingAddressZip" matInput>
                    </mat-form-field>
                </div>
            </div>

            <h4 class="text-primary px-4 pb-2 pt-10">{{'personalContactInformation'|translate}}</h4>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'homePhone'|translate}}</mat-label>
                        <input [(ngModel)]="studentAddModel.studentMaster.homePhone"  name="homePhone" matInput>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'mobilePhone'|translate}}</mat-label>
                        <input [(ngModel)]="studentAddModel.studentMaster.mobilePhone"  name="mobilePhone" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'personalEmail'|translate}}</mat-label>
                        <input [(ngModel)]="studentAddModel.studentMaster.personalEmail"  name="personalEmail" matInput>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'schoolEmail'|translate}}</mat-label>
                        <input [(ngModel)]="studentAddModel.studentMaster.schoolEmail"  name="schoolEmail" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'twitter'|translate}}</mat-label>
                        <input [(ngModel)]="studentAddModel.studentMaster.twitter"  name="twitter" matInput>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'facebook'|translate}}</mat-label>
                        <input [(ngModel)]="studentAddModel.studentMaster.facebook"  name="facebook" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'instagram'|translate}}</mat-label>
                        <input [(ngModel)]="studentAddModel.studentMaster.instagram"  name="instagram" matInput>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'youtube'|translate}}</mat-label>
                        <input [(ngModel)]="studentAddModel.studentMaster.youtube"  name="youtube" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'linkedIn'|translate}}</mat-label>
                        <input [(ngModel)]="studentAddModel.studentMaster.linkedin"  name="linkedin" matInput>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2"></div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div class="px-4 mb-2 text-right">
            <button color="primary" mat-raised-button>{{'submit'|translate}}</button>
        </div>
    </mat-card-actions>

</mat-card>
</form>