<vex-mat-spinner-overlay *ngIf="loading"></vex-mat-spinner-overlay>
<div *ngIf="attendanceCategories?.length>0; else addCategory">


<div class="mb-2 lg:flex lg:flex-wrap">
    <div class="w-full">
        <mat-card class="w-full p-0" fxFlex="auto">
            <div class="lg:flex lg:flex-wrap">
                <div class="lg:w-9/12 lg:pr-0 attendance-code-tab-group">
        <mat-tab-group #tabs>
            <mat-tab *ngFor="let category of attendanceCategories"> 
                            <ng-template mat-tab-label class="tabl-list">
                   <span (click)="onClick(category.attendanceCategoryId)" class="custom-label"> {{category.title}}</span>
                    <div *ngIf="selectedAttendanceCategory==category.attendanceCategoryId">
                        <a (click)="openEditCategory(category)"><mat-icon [icIcon]="icEdit"></mat-icon></a>
                        <a (click)="openDeleteCategory(category)"><mat-icon [icIcon]="icDelete"></mat-icon></a>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="lg:w-3/12 lg:pr-4">
        <button color="" class="w-full text-primary" mat-button type="button"
        (click)='goToAddCategory()'>
        <ic-icon [icon]="icAdd" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true"
            size="24px">
        </ic-icon>
        <span>{{'addNewCategory'|translate}}</span>
    </button>
    </div>
</div>
            <hr class="-mt-1" />

            <div class="bg-white px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <div class="flex w-full justify-between">
                    <div class="py-3" fxFlex="300px" fxFlex.lt-md="auto" fxHide.xs fxLayout="row"
                        fxLayoutAlign="start center">

                        <div class="flex">
                            <input
                            matInput
                            [(ngModel)]="searchKey"
                            (keyup)="applyFilter()"
                            class="py-3 border-0 outline-none w-full bg-transparent"
                            appearance="outline" color="primary"
                             placeholder="Search..."
                            type="search">
                            <button mat-button matSuffix mat-icon-button aria-label="clear"
                            *ngIf="searchKey"
                            (click)="onSearchClear()">
                            <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div fxFlex="200px" class="pt-3">
                        <button [matMenuTriggerFor]="columnFilterMenu" class="ml-4" fxFlex="none" mat-icon-button
                            matTooltip="Filter Columns" type="button">
                            <mat-icon [icIcon]="icFilterList"></mat-icon>
                        </button>

                        <button color="primary" class="ml-4" fxFlex="none" mat-raised-button type="button"
                            (click)='goToAddAttendanceCode()'>
                            <ic-icon [icon]="icAdd" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true"
                                size="24px">
                            </ic-icon>
                            <span>{{'addNewAttendanceCode'|translate}}</span>
                        </button>
                    </div>
                </div>
            </div>

            <table @stagger mat-table [dataSource]="attendanceCodeList" class="mat-elevation-z8 table-auto w-full"
                matSort>
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="uppercase">{{'title'|translate}}</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.title}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="shortName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="uppercase">{{'shortName'|translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.shortName}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="sortOrder">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="uppercase">{{'sortOrder'|translate}}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.sortOrder}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="allowEntryBy">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="uppercase">{{'allowEntryBy'|translate}}</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.allowEntryBy==null?'N/A':element.allowEntryBy}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="defaultCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="uppercase">{{'defaultForTeacherAndOffice'|translate}}</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.defaultCode|EmtyBooleanCheckPipe}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="stateCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="uppercase">{{'stateCode'|translate}}</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.stateCode==null?'N/A':attedanceStateCode[element.stateCode]}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="uppercase">{{'action'|translate}}</th>
                    <td mat-cell *matCellDef="let element">
                        <a (click)="openEditAttendance(element)" class="mr-3 cursor-pointer">
                            <mat-icon [icIcon]="icEdit"></mat-icon>
                        </a>
                        <a (click)="openDeleteAttendance(element)" class="cursor-pointer">
                            <mat-icon [icIcon]="icDelete"></mat-icon>
                        </a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef colspan="7">
                        <vex-mat-spinner-overlay *ngIf="loading" color="accent"></vex-mat-spinner-overlay>
                    </mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="noData">
                    <td mat-footer-cell *matFooterCellDef colspan="5">
                      No Data
                    </td>
                  </ng-container>

                <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: visibleColumns" @fadeInUp></tr>
                <tr mat-footer-row *matFooterRowDef="['loading']" [class.hide]="!loading"></tr>
                <tr mat-footer-row *matFooterRowDef="['noData']" [class.hide]="attendanceCodeList?.data.length!=0"></tr>            </table>

            <mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
                <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
                    class="checkbox-item mat-menu-item">
                    <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
                        {{column.label}}
                    </mat-checkbox>
                </button>
            </mat-menu>
        </mat-card>
    </div>
</div>
</div>

<ng-template #addCategory>
    <button class="w-full text-primary" mat-button type="button"
    (click)='goToAddCategory()'>
    <ic-icon [icon]="icAdd" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true"
        size="24px">
    </ic-icon>
    <span>{{'addNewCategory'|translate}}</span>
</button>
</ng-template>