<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto" >{{'editMarkingPeriod' | translate}}</h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content fxLayout="column">
    <mat-form-field class="mt-6" appearance="outline" color="primary">
        <mat-label>{{'title' | translate}}</mat-label>
        <input formControlName="title"  name="title" matInput required>
    </mat-form-field>

    <mat-form-field appearance="outline" color="primary">
        <mat-label>{{'shortName' | translate}}</mat-label>
        <input  name="shortName"  matInput required>
    </mat-form-field>

    <div class="mb-2 md:flex md:flex-wrap -mx-6">
        <div class="flex flex-1 mx-6 md:w-1/2">
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{'begins' | translate}}</mat-label>
                <input name="startDate" [matDatepicker]="begins" matInput required>
                <mat-datepicker-toggle [for]="begins" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #begins></mat-datepicker>    
            </mat-form-field>
        </div>
        <div class="flex flex-1 mx-6 md:w-1/2">
            <mat-form-field class="w-full" appearance="outline" color="primary">
                <mat-label>{{'ends' | translate}}</mat-label>
                <input name="endDate" [matDatepicker]="ends" matInput required>
                <mat-datepicker-toggle [for]="ends" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #ends></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="py-6">
    <button mat-button mat-dialog-close type="button">{{'cancel' | translate}}</button>
    <button color="primary" mat-raised-button type="submit" >Submit</button>    
</mat-dialog-actions>