<vex-page-layout>
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
        <vex-secondary-toolbar current="Notices" class="w-full">
            <vex-breadcrumbs [crumbs]="['School','Notices']" class="flex-auto"></vex-breadcrumbs>
        </vex-secondary-toolbar>
    </vex-page-layout-header>

    <div class="-mt-6 absolute w-full" vexContainer>
        <mat-drawer-container class="bg-transparent -mt-16 p-gutter" vexContainer>
            <mat-card class="mb-5">
                <div class="flex items-center pl-0" fxLayout="row" fxLayoutAlign="center center">
                    <div class="flex-auto">
                        <mat-button-toggle-group (click)="showRecords($event)" name="fontStyle" color="primary">
                            <mat-button-toggle value="all" checked>{{'all' | translate}}</mat-button-toggle>
                            <mat-button-toggle value="today">{{'today' | translate}}</mat-button-toggle>
                            <mat-button-toggle value="upcoming">{{'upcoming' | translate}}</mat-button-toggle>
                            <mat-button-toggle value="past">{{'past' | translate}}</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <button (click)="openAddNew()" type="button" color="primary" mat-raised-button>
                        <ic-icon [icon]="icAdd" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2 ic-inline" inline="true">
                        </ic-icon>{{'addNotice' | translate}} 
                    </button>
                </div>
            </mat-card>

            <div class="flex flex-col sm:flex-row">
                <div class="flex-1" *ngFor="let list of noticeList">
                    <div class="sm:pr-4">
                        <vex-notice-cards [getAllMembersList]='getAllMembersList' [notice]='list' noticeId = {{list.noticeId}} title= {{list.title}}
                            visibleFrom="{{list.validFrom | date }} - {{list.validTo | date }}"
                            visibleTo={{list.targetMembershipIds}}>
                            <div class="px-gutter pt-4 pb-6">
                                <div [innerHTML]="list.body"></div>
                            </div>
                        </vex-notice-cards>
                    </div>
                </div>
            </div>
            
        </mat-drawer-container>
    </div>

</vex-page-layout>