<vex-page-layout>
  <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
    <vex-secondary-toolbar current="Calendar" class="w-full">
      <vex-breadcrumbs [crumbs]="['School','Calendar']" class="flex-auto"></vex-breadcrumbs>
    </vex-secondary-toolbar>
  </vex-page-layout-header>
  <div class="-mt-16 absolute w-full" vexContainer>
    <mat-drawer-container class="bg-transparent" vexContainer>
      <mat-card class="mb-5 mx-6 pt-3 px-0 pb-0">
        <div class="flex items-center py-0 px-4" fxLayout="row" fxLayoutAlign="center center">

          <div class="flex-auto">
            <div style="text-align: center !important;"><label
                *ngIf="!showCalendarView">{{'NoCalendarWereFound'| translate }}</label></div>
            <mat-form-field *ngIf="showCalendarView" class="select-calendar">
              <mat-select [(value)]="selectedCalendar" (selectionChange)="changeCalendar($event.value)">
                <mat-option *ngFor="let calendar of calendars" [value]="calendar">
                  {{calendar.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <button type="button" color="primary" mat-raised-button class="mr-3" (click)="openAddNewCalendar()">
            <ic-icon [icon]="icAdd" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2 ic-inline" inline="true"></ic-icon>
            {{'addCalendar' | translate}}
          </button>
          <a *ngIf="showCalendarView" class="mx-3" href="javascript:void(0)"
            (click)="openEditCalendar(this.selectedCalendar)">
            <ic-icon [icon]="icEdit" inline="true" class="text-2xl"></ic-icon>
          </a>
          <a *ngIf="showCalendarView" class="mx-3" href="javascript:void(0)"
            (click)="deleteCalendarConfirm(this.selectedCalendar)">
            <ic-icon [icon]="icDelete" class="text-2xl" inline="true"></ic-icon>
          </a>
        </div>
        <hr *ngIf="showCalendarView" class="-mx-4" />
        <div class="flex-auto flex flex-col sm:flex-row justify-between items-center my-3  px-4">
          <div *ngIf="showCalendarView" class="headline text-md text-gray">
            {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</div>

          <div *ngIf="showCalendarView" class="actions flex flex-col sm:flex-row justify-end items-center">
            <div class="chevrons">
              <button [(viewDate)]="viewDate" [view]="view" mat-icon-button mwlCalendarPreviousView>
                <mat-icon [icIcon]="icChevronLeft"></mat-icon>
              </button>
              <button [(viewDate)]="viewDate" [view]="view" mat-icon-button mwlCalendarNextView>
                <mat-icon [icIcon]="icChevronRight"></mat-icon>
              </button>
            </div>
            <div class="flex">
              <button (click)="view = CalendarView.Month" mat-button>MONTH</button>
              <button (click)="view = CalendarView.Week" mat-button>WEEK</button>
              <button (click)="view = CalendarView.Day" mat-button>DAY</button>
            </div>
          </div>
        </div>

        <ng-template #customCellTemplate let-day="day" let-locale="locale">
          <div class="cal-cell-top">
            <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
            <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
          </div>

          <div class="cal-events" *ngIf="day.events.length > 0">
            <div *ngFor="let event of day.events;" style="width: 100% !important;">
              <div class="cal-event" [ngClass]="event?.cssClass"
                [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event" [tooltipEvent]="event"
                mwlDraggable [class.cal-draggable]="event.draggable" dragActiveClass="cal-drag-active"
                [dropData]="{event: event}" [dragAxis]="{x: event.draggable, y: event.draggable}">
                <span class="event-color" [style.backgroundColor]="event.meta.calendar.eventColor"></span>
                <span (click)="$event.stopPropagation(); viewEvent(event)" class="text-xs">{{ event.title}}</span>
              </div>
            </div>
          </div>
        </ng-template>
        <div *ngIf="showCalendarView">
          <vex-scrollbar *ngIf="events$ | async; let events" [ngSwitch]="view" class="px-0 shadow flex-auto relative"
            vexContainer>
            <mwl-calendar-month-view *ngSwitchCase="'month'" [refresh]="refresh"
              (beforeViewRender)="beforeMonthViewRender($event)" [viewDate]="viewDate" [events]="events"
              (dayClicked)="openAddNewEvent($event.day)" [cellTemplate]="customCellTemplate"
              (eventTimesChanged)="eventTimesChanged($event)" [weekendDays]="weekendDays">
            </mwl-calendar-month-view>
            <mwl-calendar-week-view *ngSwitchCase="'week'" (eventTimesChanged)="eventTimesChanged($event)"
              [weekendDays]="weekendDays" [refresh]="refresh" [viewDate]="viewDate" [events]="events">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view *ngSwitchCase="'day'" (eventTimesChanged)="eventTimesChanged($event)"
              [refresh]="refresh" [viewDate]="viewDate" [events]="events">
            </mwl-calendar-day-view>
          </vex-scrollbar>
        </div>
      </mat-card>
    </mat-drawer-container>
  </div>
</vex-page-layout>