<vex-page-layout>
  <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
    <vex-secondary-toolbar current="Calendar" class="w-full">
      <vex-breadcrumbs [crumbs]="['School','Calendar']" class="flex-auto"></vex-breadcrumbs>
    </vex-secondary-toolbar>
  </vex-page-layout-header>
  <div class="-mt-20 absolute w-full" vexContainer>
    <mat-drawer-container class="bg-transparent" vexContainer>
      <mat-card class="mb-5 mx-6">
        <div class="flex items-center pl-0 pb-5" fxLayout="row" fxLayoutAlign="center center">
            <h2 class="flex-auto">Main Calendar</h2>
            <button type="button" color="primary" mat-raised-button class="mr-3" (click)="openAddNewCalendar()"><ic-icon [icon]="icAdd" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2 ic-inline" inline="true"></ic-icon> {{'addCalendar' | translate}}</button>
            <button type="button" color="primary" mat-raised-button class="mr-3"><ic-icon [icon]="icEdit" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2 ic-inline" inline="true"></ic-icon> {{'editCalendar' | translate}}</button>
            <button type="button" color="primary" mat-raised-button (click)="openAddNewEvent()"><ic-icon [icon]="icAdd" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2 ic-inline" inline="true"></ic-icon> {{'addEvent' | translate}}</button>
        </div>
        <hr/>
        <div class="flex-auto flex flex-col sm:flex-row justify-between items-center my-3">
          <div class="headline text-md text-gray">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</div>

        <div class="actions flex flex-col sm:flex-row justify-end items-center">
          <div class="chevrons">
            <button [(viewDate)]="viewDate" [view]="view" mat-icon-button mwlCalendarPreviousView>
              <mat-icon [icIcon]="icChevronLeft"></mat-icon>
            </button>
            <button [(viewDate)]="viewDate" [view]="view" mat-icon-button mwlCalendarNextView>
              <mat-icon [icIcon]="icChevronRight"></mat-icon>
            </button>
          </div>
          <div class="flex">
            <button (click)="view = CalendarView.Month" mat-button>MONTH</button>
            <button (click)="view = CalendarView.Week" mat-button>WEEK</button>
            <button (click)="view = CalendarView.Day" mat-button>DAY</button>
          </div>
        </div>
      </div>
        <hr/>
        <vex-scrollbar [ngSwitch]="view" class="px-0 flex-auto relative" vexContainer>
          <mwl-calendar-month-view (dayClicked)="dayClicked($event.day)" (dblclick)="addEvent()"
            (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"
            *ngSwitchCase="'month'" [activeDayIsOpen]="activeDayIsOpen" [events]="events" [refresh]="refresh"
      [viewDate]="viewDate">
    </mwl-calendar-month-view>
          <mwl-calendar-week-view (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)" *ngSwitchCase="'week'" [events]="events" [refresh]="refresh"
      [viewDate]="viewDate">
    </mwl-calendar-week-view>
          <mwl-calendar-day-view (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)" *ngSwitchCase="'day'" [events]="events" [refresh]="refresh"
      [viewDate]="viewDate">
    </mwl-calendar-day-view>
  </vex-scrollbar>
      </mat-card>
    </mat-drawer-container>
</div>
</vex-page-layout>