<mat-card  class="w-full">
<vex-mat-spinner-overlay *ngIf="loading"></vex-mat-spinner-overlay>
<form [formGroup]="form" (ngSubmit)="submit()">
    <mat-card-header>
        <mat-card-title>{{'generalInformation'|translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>

    <div class="py-6" @stagger fxLayout="column">
        <div class="mb-2 md:flex md:flex-wrap">
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'schoolId'|translate}}</mat-label>
                    <input  formControlName="school_id" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolInternalId" name="school_id" maxlength = "50" matInput>
                    <mat-error *ngIf="form.get('school_id').hasError('required')">{{'schoolIdIsRequired'|translate}}</mat-error>
                </mat-form-field>
            </div>
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'schoolAlternateId'|translate}}</mat-label>
                    <input formControlName="alternate_id" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolAltId" name="alternate_id" maxlength = "10" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="mb-2 md:flex md:flex-wrap">
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'stateId'|translate}}</mat-label>
                    <input  formControlName="state_id" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolStateId" name="state_id" maxlength = "10" matInput>
                </mat-form-field>
            </div>
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'districtId'|translate}}</mat-label>
                    <input formControlName="district_id" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolDistrictId" name="district_id" maxlength = "50" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="mb-2 md:flex md:flex-wrap">
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'schoolLevel'|translate}}</mat-label>
                    <mat-select formControlName="school_level" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolLevel" name="school_level" required> 
                        <mat-option></mat-option>
                        <mat-option *ngFor="let key of schoolLevelOptions" [value]='key' >
                           {{key}}
                          </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('school_level').hasError('required')">{{'schoolLevelIsRequired'|translate}}</mat-error>
                </mat-form-field>
            </div>
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'schoolClassification'|translate}}</mat-label>
                    <mat-select formControlName="school_classification" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolClassification" name="school_classification"  required>
                        <mat-option></mat-option>
                        <mat-option *ngFor="let key of schoolClassificationOptions" [value]="key" >
                            {{key}}
                           </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('school_classification').hasError('required')">{{'schoolClassificationIsRequired'|translate}}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="mb-2 md:flex md:flex-wrap">
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'schoolName'|translate}}</mat-label>
                    <input formControlName="school_Name" maxlength = "100" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolName" name="school_Name"  matInput required>
                    <mat-error *ngIf="form.get('school_Name').hasError('required')">{{'schoolNameIsRequired'|translate}}</mat-error>
                </mat-form-field>
            </div>
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'alternateName'|translate}}</mat-label>
                    <input formControlName="alternate_name" maxlength = "100" [(ngModel)]="schoolAddViewModel.schoolMaster.alternateName" name="alternate_name"  matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="mb-2 md:flex md:flex-wrap">
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'affiliation'|translate}}</mat-label>
                    <input formControlName="affiliation" maxlength = "100" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolDetail[0].affiliation" name="affiliation"  matInput>
                </mat-form-field>
            </div>
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'associations'|translate}}</mat-label>
                    <input formControlName="associations" maxlength = "100" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolDetail[0].associations" name="associations"  matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="mb-2 md:flex md:flex-wrap">
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'lowestGradeLevel'|translate}}</mat-label>
                    <mat-select formControlName="lowest_grade_level" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolDetail[0].lowestGradeLevel" name="lowest_grade_level" required>
                        <mat-option></mat-option>
                        <mat-option *ngFor="let key of highestGradeLevelsOption" [value]="key" [disabled]="key==schoolAddViewModel.schoolMaster.schoolDetail[0].highestGradeLevel">
                            {{key}}
                           </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('lowest_grade_level').hasError('required')">{{'lowestGradeLevelIsRequired'|translate}}</mat-error>
                </mat-form-field>
            </div>
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'highestGradeLevel'|translate}}</mat-label>
                    <mat-select formControlName="highest_grade_level" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolDetail[0].highestGradeLevel"  name="highest_grade_level" required>
                        <mat-option></mat-option>
                        <mat-option *ngFor="let key of highestGradeLevelsOption" [value]="key" [disabled]="key==schoolAddViewModel.schoolMaster.schoolDetail[0].lowestGradeLevel">
                            {{key}}
                           </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('highest_grade_level').hasError('required')">{{'highestGradeLevelIsRequired'|translate}}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="mb-2 md:flex md:flex-wrap">
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'dateSchoolOpened'|translate}}</mat-label>
                    <input formControlName="date_school_opened" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolDetail[0].dateSchoolOpened" name="date_school_opened"  [matDatepicker]="datepickerRef" matInput>
                    <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #datepickerRef></mat-datepicker>
                    <mat-error *ngIf="form.get('date_school_closed').hasError('invalidDateComparison')"></mat-error>
                </mat-form-field>
            </div>
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'dateSchoolClosed'|translate}}</mat-label>
                    <input formControlName="date_school_closed" (dateChange)="dateCompare()" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolDetail[0].dateSchoolClosed"  name="date_school_closed" [matDatepicker]="dateSchoolClosed" matInput>
                    <mat-datepicker-toggle [for]="dateSchoolClosed" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #dateSchoolClosed></mat-datepicker>
                    <mat-error *ngIf="form.get('date_school_closed').hasError('compareError')"></mat-error>
            
                </mat-form-field>
            </div>
        </div>
        <div class="mb-2 md:flex md:flex-wrap">
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'code'|translate}}</mat-label>
                    <input formControlName="code" maxlength = "100" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolDetail[0].locale" name="code" matInput>
                </mat-form-field>
            </div>
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'gender'|translate}}</mat-label>
                    <mat-select formControlName="gender" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolDetail[0].gender" name="gender">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let key of genderOptions" [value]="key" >
                            {{key}}
                           </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="mb-2 md:flex md:flex-wrap">
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'internet'|translate}}</mat-label>
                    <mat-select  formControlName="internet" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolDetail[0].internet"  name="internet" matInput>   
                    <mat-option></mat-option>
                    <mat-option [value]="generalInfo.Yes">{{generalInfo['true']}}</mat-option>
                    <mat-option [value]="generalInfo.No">{{generalInfo['false']}}</mat-option> 
                  
                    </mat-select>                  
                </mat-form-field>
            </div>
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'electricity'|translate}}</mat-label>
                    <mat-select formControlName="electricity" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolDetail[0].electricity" name="electricity"> 
                   
                    <mat-option></mat-option>
                    <mat-option [value]="generalInfo.Yes">{{generalInfo['true']}}</mat-option>
                    <mat-option [value]="generalInfo.No">{{generalInfo['false']}}</mat-option> 
                </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="mb-2 md:flex md:flex-wrap">
            <div class="md:w-1/2">
                <div class="mx-4">
                <mat-form-field class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'status'|translate}}</mat-label>
                    <mat-select formControlName="status" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolDetail[0].status"  name="status"> 
                        <mat-option></mat-option>
                        <mat-option [value]="statusInfo.Active">{{statusInfo['true']}}</mat-option>
                        <mat-option [value]="statusInfo.Inactive">{{statusInfo['false']}}</mat-option> 
                    </mat-select>
                </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="pb-6" @stagger fxLayout="column">
        <div class="px-4">
            <h4 class="text-primary">{{'addressInformation'|translate}}</h4>
        </div>


        <div class="mb-2 md:flex md:flex-wrap">
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'streetAddress1'|translate}}</mat-label>
                    <input formControlName="street_address_1" maxlength = "150" [(ngModel)]="schoolAddViewModel.schoolMaster.streetAddress1"  name="street_address_1" matInput required>
                    <mat-error *ngIf="form.get('street_address_1').hasError('required')">{{'streetAddressIsRequired'|translate}}</mat-error>
                </mat-form-field>
                
            </div>
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'streetAddress2'|translate}}</mat-label>
                    <input formControlName="street_address_2" maxlength = "150" [(ngModel)]="schoolAddViewModel.schoolMaster.streetAddress2" name="street_address_2" matInput>
                </mat-form-field>
            </div>
        </div>

        <div class="mb-2 md:flex md:flex-wrap">
            <div class="flex flex-1 mx-4 md:w-1/2">
                
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'country'|translate}}</mat-label>
                    <mat-select formControlName="country" (selectionChange)="getAllStateByCountry($event)" [(ngModel)]="schoolAddViewModel.schoolMaster.country" name="country" required>
                        <mat-option></mat-option>
                        <mat-option *ngFor="let country of countryListArr" [value]= 'country.id' >
                            {{country.name}}
                           </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('country').hasError('required')">{{'countryIsRequired'|translate}}</mat-error>
                </mat-form-field>
                
            </div>
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'stateRegionProvince'|translate}}</mat-label>
                    <mat-select formControlName="state" (selectionChange)="getAllCitiesByState($event)"  [(ngModel)]="schoolAddViewModel.schoolMaster.state" name="state" >
                        <mat-option></mat-option>
                        <mat-option *ngFor="let state of stateListArr" [value]= 'state.id' >
                            {{state.name}}
                           </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
            <div class="mb-2 md:flex md:flex-wrap">
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'city'|translate}}</mat-label>
                    <mat-select formControlName="city" [(ngModel)]="this.schoolAddViewModel.schoolMaster.city" name="city" required>
                        <mat-option></mat-option>
                        <mat-option *ngFor="let city of cityListArr" [value]= 'city.id' >
                            {{city.name}}
                           </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('city').hasError('required')">{{'cityIsRequired'|translate}}</mat-error>
                </mat-form-field>
            </div>
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'county'|translate}}</mat-label>
                    <input formControlName="county" maxlength = "50" [(ngModel)]="schoolAddViewModel.schoolMaster.county" name="county" matInput>
                </mat-form-field>
            </div>
        </div>

        <div class="mb-2 md:flex md:flex-wrap">
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'division'|translate}}</mat-label>
                    <input  formControlName="division" maxlength = "50" [(ngModel)]="schoolAddViewModel.schoolMaster.division"  name="division" matInput>
                </mat-form-field>
            </div>
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'district'|translate}}</mat-label>
                    <input formControlName="district" maxlength = "50" [(ngModel)]="schoolAddViewModel.schoolMaster.district"  name="district" matInput>
                </mat-form-field>
            </div>
        </div>

        <div class="mb-2 md:flex md:flex-wrap">
            <div class="md:w-6/12">
                <div class="mx-4">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'zipPostalCode'|translate}}</mat-label>
                    <input formControlName="zip" [(ngModel)]="schoolAddViewModel.schoolMaster.zip" maxlength = "10"  name="zip" matInput required>
                    <mat-error *ngIf="form.get('zip').hasError('required')">{{'zipIsRequired'|translate}}</mat-error>
                </mat-form-field>
            </div>
            </div>
            <div class="md:w-3/12">
                <div class="mx-4">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'latitude'|translate}}</mat-label>
                        <input formControlName="latitude" [(ngModel)]="schoolAddViewModel.schoolMaster.latitude" name="latitude"  matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="md:w-3/12">
                <div class="mx-4">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'longitude'|translate}}</mat-label>
                        <input formControlName="longitude" [(ngModel)]="schoolAddViewModel.schoolMaster.longitude" name="longitude"  matInput>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div @stagger fxLayout="column">
        <div class="px-4">
            <h4 class="text-primary">{{'contactInformation'|translate}}</h4>
        </div>


        <div class="mb-2 md:flex md:flex-wrap">
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'principal'|translate}}</mat-label>
                    <input formControlName="principal"  maxlength = "100" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolDetail[0].nameOfPrincipal" name="principal" matInput required>
                    <mat-error *ngIf="form.get('principal').hasError('required')">{{'principalNameIsRequired'|translate}}</mat-error>
                </mat-form-field>
            </div>
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'assistantPrincipal'|translate}}</mat-label>
                    <input formControlName="ass_principal"  maxlength = "100" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolDetail[0].nameOfAssistantPrincipal" name="ass_principal" matInput>
                </mat-form-field>
            </div>
        </div>

        <div class="mb-2 md:flex md:flex-wrap">
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'telephone'|translate}}</mat-label>
                    <input formControlName="telephone" maxlength="12" appPhoneMask [(ngModel)]="schoolAddViewModel.schoolMaster.schoolDetail[0].telephone" name="telephone" matInput required>
                    <mat-error *ngIf="form.get('telephone').hasError('required')">{{'telephoneIsRequired'|translate}}</mat-error>
                    <mat-error *ngIf="!form.get('telephone').hasError('required') && form.get('telephone').hasError('invalidPhoneNumber')">{{'invalidTelephoneNumber'|translate}}</mat-error>
                </mat-form-field>
            </div>
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'fax'|translate}}</mat-label>
                    <input formControlName="fax" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolDetail[0].fax" maxlength = "20"  name="fax" matInput>
                </mat-form-field>
            </div>
        </div>

        <div class="mb-2 md:flex md:flex-wrap">
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'website'|translate}}</mat-label>
                    <input formControlName="website" maxlength = "50" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolDetail[0].website" name="website"  matInput>
                    <mat-error *ngIf="form.get('website').hasError('invalidWebsite')">{{'invalidWebsite'|translate}}</mat-error>
                </mat-form-field>
            </div>
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'email'|translate}}</mat-label>
                    <input formControlName="email"  maxlength = "100" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolDetail[0].email" name="email" matInput>
                    <mat-error *ngIf="form.get('email').hasError('invalidPhoneNumber')">{{'invalidWebsite'|translate}}</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="mb-2 md:flex md:flex-wrap">
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'twitter'|translate}}</mat-label>
                    <input formControlName="twitter" maxlength = "100" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolDetail[0].twitter"  name="twitter" matInput>
                </mat-form-field>
            </div>
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'facebook'|translate}}</mat-label>
                    <input formControlName="facebook" maxlength = "100"  [(ngModel)]="schoolAddViewModel.schoolMaster.schoolDetail[0].facebook"  name="facebook" matInput>
                </mat-form-field>
            </div>
        </div>

        <div class="mb-2 md:flex md:flex-wrap">
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'instagram'|translate}}</mat-label>
                    <input formControlName="instagram" maxlength = "100" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolDetail[0].instagram" name="instagram" matInput>
                </mat-form-field>
            </div>
            <div class="flex flex-1 mx-4 md:w-1/2">
                <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                    <mat-label>{{'youtube'|translate}}</mat-label>
                    <input formControlName="youtube" maxlength = "100" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolDetail[0].youtube" name="youtube" matInput>
                </mat-form-field>
            </div>
        </div>

        <div class="mb-2 md:flex md:flex-wrap">
            <div class="md:w-1/2">
                <div class="mx-4">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'linkedIn'|translate}}</mat-label>
                        <input formControlName="linkedin" maxlength = "100" [(ngModel)]="schoolAddViewModel.schoolMaster.schoolDetail[0].linkedIn"  name="linkedin" matInput>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>    
    </mat-card-content>
    <mat-card-actions class="mb-0">
        <div class="px-4 text-right">
            <button color="primary" mat-raised-button>{{'submit'|translate}}</button>
        </div>
    </mat-card-actions>
</form>
</mat-card>
