<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">{{'searchAndAssociateStudent' | translate}}</h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>
<form [formGroup]="form">
    <mat-dialog-content fxLayout="column">
        <mat-form-field class="mt-6" appearance="outline" color="primary">
            <mat-label>{{'firstName' | translate}}</mat-label>
            <input name="search" type="text" cdkFocusInitial matInput>
        </mat-form-field>
        
        <mat-form-field appearance="outline" color="primary">
            <mat-label>{{'lastName' | translate}}</mat-label>
            <input name="search" type="text" cdkFocusInitial matInput>
        </mat-form-field>
        
        <mat-form-field appearance="outline" color="primary">
            <mat-label>{{'gradeLevel' | translate}}</mat-label>
            <mat-select name="country">
                <mat-option>Show Grade Level Entry</mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field appearance="outline" color="primary">
            <mat-label>{{'studentID' | translate}}</mat-label>
            <input name="search" type="text" cdkFocusInitial matInput>
        </mat-form-field>
        
        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
            <mat-label>{{'dateOfBirth'|translate}}</mat-label>
            <input name="date_of_birth" matInput>
            <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #datepickerRef></mat-datepicker>
        </mat-form-field>

        <mat-slide-toggle formControlName="schoolAccess" color="primary" class="mr-4" checked="checked">
            {{'searchAllSchools' | translate}}</mat-slide-toggle>

    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="py-6">
        <button mat-button mat-dialog-close type="button">{{'cancel' | translate}}</button>
        <button color="primary" mat-raised-button type="submit">{{'search' | translate}}</button>
    </mat-dialog-actions>
</form>