

                <form [formGroup]="form" (ngSubmit)="submit()">
              
                    <mat-card-header>
                        <mat-card-title>{{"washInformation"|translate}}</mat-card-title>
                    </mat-card-header>
                    
                    <mat-card-content>
                        <div class="py-6" @stagger fxLayout="column">
                            <div class="mb-2 md:flex md:flex-wrap">
                                <div class="flex flex-1 mx-4 md:w-1/2">
                                    <mat-form-field class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'runningWater'|translate}}</mat-label>
                                        <mat-select formControlName="runningWater" [(ngModel)]="schoolAddViewModel.tblSchoolDetail.running_Water">
                                            <mat-option></mat-option>
                                            <mat-option [value]="true">Yes</mat-option>
                                            <mat-option [value]="false">No</mat-option>
                                            
                                        </mat-select>
                                        
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-1 mx-4 md:w-1/2">
                                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'mainSourceofDrinkingWater'|translate}}</mat-label>
                                        <input matInput formControlName="mainSourceofDrinkingWater" [(ngModel)]="schoolAddViewModel.tblSchoolDetail.main_Source_of_Drinking_Water"    >

                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="mb-2 md:flex md:flex-wrap">
                                <div class="flex flex-1 mx-4 md:w-1/2">
                                    <mat-form-field class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'currentlyAvailable'|translate}}</mat-label>
                                        <mat-select formControlName="currentlyAvailable" [(ngModel)]="schoolAddViewModel.tblSchoolDetail.currently_Available">
                                            <mat-option></mat-option>
                                            
                                            <mat-option [value]="true">Yes</mat-option>
                                            <mat-option [value]="false">No</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-1 mx-4 md:w-1/2">
                                    <mat-form-field class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'handwashingAvailable'|translate}}</mat-label>
                                        <mat-select formControlName="handwashingAvailable" [(ngModel)]="schoolAddViewModel.tblSchoolDetail.handwashing_Available">
                                            <mat-option></mat-option>
                                            
                                            <mat-option [value]="true">Yes</mat-option>
                                            <mat-option [value]="false">No</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="mb-2 md:flex md:flex-wrap">
                                <div class="flex flex-1 mx-4 md:w-1/2">
                                    <mat-form-field class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'soapWaterAvailable'|translate}}</mat-label>
                                        <mat-select formControlName="soapWaterAvailable" [(ngModel)]="schoolAddViewModel.tblSchoolDetail.soap_and_Water_Available">
                                            <mat-option></mat-option>
                                            
                                            <mat-option [value]="true">Yes</mat-option>
                                            <mat-option [value]="false">No</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-1 mx-4 md:w-1/2">
                                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'hygeneEducation'|translate}}</mat-label>
                                        <input matInput formControlName="hygeneEducation" [(ngModel)]="schoolAddViewModel.tblSchoolDetail.hygene_Education"  >
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
                        <div class="pb-6" @stagger fxLayout="column">
                            <div class="px-6">
                                <h4 class="text-primary">{{'femaleToiletInformation'|translate}}</h4>
                            </div>

                            <div class="mb-2 md:flex md:flex-wrap">
                                <div class="flex flex-1 mx-4 md:w-1/2">
                                    <mat-form-field class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'femaleToiletType'|translate}}</mat-label>
                                        <mat-select formControlName="femaleToiletType" [(ngModel)]="schoolAddViewModel.tblSchoolDetail.female_Toilet_Type">
                                            <mat-option></mat-option>
                                            
                                            <mat-option value="true">Yes</mat-option>
                                            <mat-option value="false">No</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-1 mx-4 md:w-1/2">
                                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'totalFemaleToilets'|translate}}</mat-label>
                                        <input matInput formControlName="totalFemaleToilets" type="number" [(ngModel)]="schoolAddViewModel.tblSchoolDetail.total_Female_Toilets"   >
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="mb-2 md:flex md:flex-wrap">
                                <div class="flex flex-1 mx-4 md:w-1/2">
                                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'totalFemaleToiletsUsable'|translate}}</mat-label>
                                        <input matInput formControlName="totalFemaleToiletsUsable" type="number" [(ngModel)]="schoolAddViewModel.tblSchoolDetail.total_Female_Toilets_Usable" >
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-1 mx-4 md:w-1/2">
                                    <mat-form-field class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'femaleToiletAccessibility'|translate}}</mat-label>
                                        <mat-select formControlName="femaleToiletAccessibility" [(ngModel)]="schoolAddViewModel.tblSchoolDetail.female_Toilet_Accessibility">
                                            <mat-option></mat-option>
                                            
                                            <mat-option value="true">Yes</mat-option>
                                            <mat-option value="false">No</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="pb-6" @stagger fxLayout="column">
                            <div class="px-6">
                                <h4 class="text-primary">{{'maleToiletInformation'|translate}}</h4>
                            </div>

                            <div class="mb-2 md:flex md:flex-wrap">
                                <div class="flex flex-1 mx-4 md:w-1/2">
                                    <mat-form-field class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'maleToiletType'|translate}}</mat-label>
                                        <mat-select formControlName="maleToiletType" [(ngModel)]="schoolAddViewModel.tblSchoolDetail.male_Toilet_Type">
                                            <mat-option></mat-option>
                                            
                                            <mat-option value="true">Yes</mat-option>
                                            <mat-option value="false">No</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-1 mx-4 md:w-1/2">
                                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'totalMaleToilets'|translate}}</mat-label>
                                        <input matInput formControlName="totalMaleToilets" type="number" [(ngModel)]="schoolAddViewModel.tblSchoolDetail.total_Male_Toilets"  >
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="mb-2 md:flex md:flex-wrap">
                                <div class="flex flex-1 mx-4 md:w-1/2">
                                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'totalMaleToiletsUsable'|translate}}</mat-label>
                                        <input matInput formControlName="totalMaleToiletsUsable" type="number" [(ngModel)]="schoolAddViewModel.tblSchoolDetail.total_Male_Toilets_Usable"   >
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-1 mx-4 md:w-1/2">
                                    <mat-form-field class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'maleToiletAccessibility'|translate}}</mat-label>
                                        <mat-select formControlName="maleToiletAccessibility" [(ngModel)]="schoolAddViewModel.tblSchoolDetail.male_Toilet_Accessibility">
                                            <mat-option></mat-option>
                                           
                                            <mat-option value="true">Yes</mat-option>
                                            <mat-option value="false">No</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div @stagger fxLayout="column">
                            <div class="px-6">
                                <h4 class="text-primary">{{'commonToiletInformation'|translate}}</h4>
                            </div>

                            <div class="mb-2 md:flex md:flex-wrap">
                                <div class="flex flex-1 mx-4 md:w-1/2">
                                    <mat-form-field class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'commonToiletType'|translate}}</mat-label>
                                        <mat-select formControlName="commonToiletType" [(ngModel)]="schoolAddViewModel.tblSchoolDetail.comon_Toilet_Type">
                                            <mat-option></mat-option>
                                            
                                            <mat-option value="true">Yes</mat-option>
                                            <mat-option value="false">No</mat-option>                                      
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-1 mx-4 md:w-1/2">
                                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'totalCommonToilets'|translate}}</mat-label>
                                        <input matInput formControlName="totalCommonToilets" type="number" [(ngModel)]="schoolAddViewModel.tblSchoolDetail.total_Common_Toilets">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="mb-2 md:flex md:flex-wrap">
                                <div class="flex flex-1 mx-4 md:w-1/2">
                                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'totalCommonToiletsUsable'|translate}}</mat-label>
                                        <input matInput formControlName="totalCommonToiletsUsable" type="number" [(ngModel)]="schoolAddViewModel.tblSchoolDetail.total_Common_Toilets_Usable">
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-1 mx-4 md:w-1/2">
                                    <mat-form-field class="w-full" appearance="outline" color="primary">
                                        <mat-label>{{'commonToiletAccessibility'|translate}}</mat-label>
                                        <mat-select formControlName="commonToiletAccessibility" [(ngModel)]="schoolAddViewModel.tblSchoolDetail.common_Toilet_Accessibility">
                                            <mat-option></mat-option>
                                            <mat-option value="true">Yes</mat-option>
                                            <mat-option value="false">No</mat-option>                                      
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="px-6 pb-4 text-right">
                            <button color="primary" mat-raised-button type="submit" >{{'submit'|translate}}</button>
                        </div>
                    </mat-card-actions>
                    

            </form>
            