<mat-card class="w-full">

    <mat-card-header>
        <mat-card-title>{{'generalInformation'|translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <div @stagger fxLayout="column">
            <h4 class="text-primary pt-6 pb-2 px-4">{{'identificationInformation'|translate}}</h4>
            <ul class="grid grid-cols-3 col-gap-8 row-gap-10 mt-2 mx-4">
                <li>
                    <label class="text-sm leading-5 text-gray">{{'StudentName' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">John</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'preferredCommonName' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">Doe</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'previousMaidenName' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">Father</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'studentID' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">45613552</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'alternateID' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">STD45613</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'districtID' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">-</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'stateID' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">-</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'admissionNumber' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">-</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'rollNumber' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">-</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'socialSecurityNumber' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">-</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'otherGovtIssuedNumber' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">-</p>
                </li>
            </ul>


            <h4 class="text-primary pt-6 pb-2 px-4">{{'demographicInformation'|translate}}</h4>
            <ul class="grid grid-cols-3 col-gap-8 row-gap-10 mt-2 mx-4">
                <li>
                    <label class="text-sm leading-5 text-gray">{{'dateOfBirth' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">Mar 10, 2009</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'gender' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">Male</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'race' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">White</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'ethnicity' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">American</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'maritalStatus' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">Single</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'countryOfBirth' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">USA</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'nationality' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">American</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'firstLanguage' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">English</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'secondLanguage' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">Spanish</p>
                </li>
                <li>
                    <label class="text-sm leading-5 text-gray">{{'thirdLanguage' | translate}}</label>
                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2">-</p>
                </li>
            </ul>
        </div>
    </mat-card-content>
</mat-card>
