
<form (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
    <mat-card class="w-full">
    
        <mat-card-header>
            <mat-card-title>{{'generalInformation'|translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
    
            <div @stagger fxLayout="column">
                <h4 class="text-primary pt-6 pb-2 px-4">{{'identificationInformation'|translate}}</h4>
                <div class="mb-2 md:flex md:flex-wrap">
                    <div class="flex flex-1 mx-4 md:w-1/2">
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'salutation'|translate}}</mat-label>
                            <mat-select  [(ngModel)]="studentAddModel.studentMaster.salutation"  name="salutation">
                                <mat-option value=""></mat-option>
                                <mat-option *ngFor="let salutation of salutationEnum" [value]="salutation">{{salutation}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-1 mx-4 md:w-1/2">
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'suffix'|translate}}</mat-label>
                            <mat-select  [(ngModel)]="studentAddModel.studentMaster.suffix"  name="suffix">
                                <mat-option value=""></mat-option>
                                <mat-option *ngFor="let suffix of suffixEnum" [value]="suffix">{{suffix}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="mb-2 md:flex md:flex-wrap">
                    <div class="flex flex-1 mx-4 w-1/2 md:w-1/2">
                        <div class="flex flex-1 mr-4 w-1/4 md:w-1/4">
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'firstGivenName'|translate}}</mat-label>
                            <input #firstGivenName="ngModel"  [(ngModel)]="studentAddModel.studentMaster.firstGivenName"   name="firstGivenName" matInput required>
                            <mat-error class="text-red" *ngIf="firstGivenName.errors?.required">
                                {{'firstGivenNameIsRequired'|translate}}</mat-error>
                        </mat-form-field>
                    </div>
                        <div class="flex flex-1 ml-4 w-1/4 md:w-1/4">
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'middleName'|translate}}</mat-label>
                            <input   [(ngModel)]="studentAddModel.studentMaster.middleName" name="middleName" matInput>
                        </mat-form-field>
                    </div>
                    </div>
                    <div class="flex flex-1 mx-4 w-1/2 md:w-1/2">
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'lastFamilyName'|translate}}</mat-label>
                            <input #lastFamilyName="ngModel" [(ngModel)]="studentAddModel.studentMaster.lastFamilyName"   name="lastFamilyName" matInput required>
                            <mat-error class="text-red" *ngIf="lastFamilyName.errors?.required">
                                {{'lastFamilyNameIsRequired'|translate}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="mb-2 md:flex md:flex-wrap">
                    <div class="flex flex-1 mx-4 md:w-1/2">
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'preferredCommonName'|translate}}</mat-label>
                            <input   [(ngModel)]="studentAddModel.studentMaster.preferredName"   name="preferredName" matInput>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-1 mx-4 md:w-1/2">
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'previousMaidenName'|translate}}</mat-label>
                            <input   [(ngModel)]="studentAddModel.studentMaster.previousName"  name="previousName"  matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="mb-2 md:flex md:flex-wrap">
                    <div class="flex flex-1 mx-4 md:w-1/2">
                        <mat-form-field  fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'studentID'|translate}}</mat-label>
                            <input  placeholder="Will automatically be assigned" readonly="true"  [(ngModel)]="studentAddModel.studentMaster.studentId"  name="studentId" matInput>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-1 mx-4 md:w-1/2">
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'alternateID'|translate}}</mat-label>
                            <input   [(ngModel)]="studentAddModel.studentMaster.alternateId"   name="alternateId" matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="mb-2 md:flex md:flex-wrap">
                    <div class="flex flex-1 mx-4 md:w-1/2">
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'districtID'|translate}}</mat-label>
                            <input  type="number" [(ngModel)]="studentAddModel.studentMaster.districtId"  name="districtId" matInput>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-1 mx-4 md:w-1/2">
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'stateID'|translate}}</mat-label>
                            <input  type="number"  [(ngModel)]="studentAddModel.studentMaster.stateId"  name="stateId"  matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="mb-2 md:flex md:flex-wrap">
                    <div class="flex flex-1 mx-4 md:w-1/2">
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'admissionNumber'|translate}}</mat-label>
                            <input   [(ngModel)]="studentAddModel.studentMaster.admissionNumber"  name="admissionNumber" matInput>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-1 mx-4 md:w-1/2">
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'rollNumber'|translate}}</mat-label>
                            <input   [(ngModel)]="studentAddModel.studentMaster.rollNumber"  name="rollNumber" matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="mb-2 md:flex md:flex-wrap">
                    <div class="flex flex-1 mx-4 md:w-1/2">
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'socialSecurityNumber'|translate}}</mat-label>
                            <input  [(ngModel)]="studentAddModel.studentMaster.socialSecurityNumber"  name="socialSecurityNumber" matInput>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-1 mx-4 md:w-1/2">
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'otherGovtIssuedNumber'|translate}}</mat-label>
                            <input  [(ngModel)]="studentAddModel.studentMaster.otherGovtIssuedNumber"  name="otherGovtIssuedNumber" matInput>
                        </mat-form-field>
                    </div>
                </div>
                <h4 class="text-primary pt-6 pb-2 px-4">{{'demographicInformation'|translate}}</h4>
                <div class="mb-2 md:flex md:flex-wrap">
                    <div class="flex flex-1 mx-4 md:w-1/2">
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'dateOfBirth'|translate}}</mat-label>
                            <input   [(ngModel)]="studentAddModel.studentMaster.dob"   name="dob" [matDatepicker]="dob" matInput>
                            <mat-datepicker-toggle [for]="dob" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #dob></mat-datepicker>        
                        </mat-form-field>
                    </div>
                    <div class="flex flex-1 mx-4 md:w-1/2">
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'gender'|translate}}</mat-label>
                            <mat-select   [(ngModel)]="studentAddModel.studentMaster.gender"  name="gender">
                                <mat-option value=""></mat-option>
                                <mat-option *ngFor="let gender of genderEnum" [value]="gender">{{gender}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="mb-2 md:flex md:flex-wrap">
                    <div class="flex flex-1 mx-4 md:w-1/2">
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'race'|translate}}</mat-label>
                            <mat-select   [(ngModel)]="studentAddModel.studentMaster.race" name="race">
                                <mat-option value=""></mat-option>
                                <mat-option *ngFor="let race of raceEnum" [value]="race">{{race}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-1 mx-4 md:w-1/2">
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'ethnicity'|translate}}</mat-label>
                            <mat-select  [(ngModel)]="studentAddModel.studentMaster.ethnicity" name="ethnicity">
                                <mat-option value=""></mat-option>
                                <mat-option *ngFor="let ethnicity of ethnicityEnum" [value]="ethnicity">{{ethnicity}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="mb-2 md:flex md:flex-wrap">
                    <div class="flex flex-1 mx-4 md:w-1/2">
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'maritalStatus'|translate}}</mat-label>
                            <mat-select   [(ngModel)]="studentAddModel.studentMaster.maritalStatus" name="maritalStatus">
                                <mat-option value=""></mat-option>
                                <mat-option *ngFor="let maritalStatus of maritalStatusEnum" [value]="maritalStatus">{{maritalStatus}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-1 mx-4 md:w-1/2">
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'countryOfBirth'|translate}}</mat-label>
                            <mat-select   [(ngModel)]="studentAddModel.studentMaster.countryOfBirth"  name="countryOfBirth">
                                <mat-option value=""></mat-option>
                                <mat-option *ngFor="let country of countryListArr" [value]= 'country.id' >
                                    {{country.name}}
                                   </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="mb-2 md:flex md:flex-wrap">
                    <div class="flex flex-1 mx-4 md:w-1/2">
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'nationality'|translate}}</mat-label>
                            <mat-select  [(ngModel)]="studentAddModel.studentMaster.nationality"  name="nationality">
                                <mat-option value=""></mat-option>
                                <mat-option *ngFor="let country of countryListArr" [value]= 'country.id' >
                                    {{country.name}}
                                   </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-1 mx-4 md:w-1/2">
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'firstLanguage'|translate}}</mat-label>
                            <mat-select   [(ngModel)]="studentAddModel.studentMaster.firstLanguageId"   name="firstLanguageId">
                                <mat-option value=""></mat-option>
                                <mat-option *ngFor="let language of languageList" [value]="language.langId">
                                    {{language.locale}}
                                  </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="mb-2 md:flex md:flex-wrap">
                    <div class="flex flex-1 mx-4 md:w-1/2">
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'secondLanguage'|translate}}</mat-label>
                            <mat-select   [(ngModel)]="studentAddModel.studentMaster.secondLanguageId"  name="secondLanguageId">
                                <mat-option value=""></mat-option>
                                <mat-option *ngFor="let language of languageList" [value]="language.langId">
                                    {{language.locale}}
                                  </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-1 mx-4 md:w-1/2">
                        <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                            <mat-label>{{'thirdLanguage'|translate}}</mat-label>
                            <mat-select  [(ngModel)]="studentAddModel.studentMaster.thirdLanguageId"  name="thirdLanguageId">
                                <mat-option value=""></mat-option>
                                <mat-option *ngFor="let language of languageList" [value]="language.langId">                               
                                    {{language.locale}}
                                  </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="px-4 mb-2 text-right">
                <button color="primary" mat-raised-button>{{'submit'|translate}}</button>
            </div>
        </mat-card-actions>
    
    </mat-card>
    </form>