<div class="flex container-sidenav-secondary" *ngIf="pageId === 'Profiles & Permissions'; else otherPages">
    <div class="sidenav-secondary">
        <vex-scrollbar class="flex-auto">
            <div class="px-6 py-3">
                <button mat-button class="bg-green text-white w-full text-center" (click)='goToAdd()'><mat-icon [icIcon]="icAdd" class="mr-2"></mat-icon>{{'addCustomProfile' | translate}}</button>
            </div>
            <hr/>
            <h4 class="px-6 py-3 text-primary font-bold">Available Profiles</h4>
            <div class="px-gutter sm:px-0 profile-list">
                <div @fadeInRight class="list-item no-underline flex justify-between items-center active" matRipple>
                    <a href=""><mat-icon [icIcon]="icSuperadmin" class="mr-3 align-middle"></mat-icon> Super Administrator</a>
            </div>
                <div @fadeInRight class="list-item no-underline flex justify-between items-center" matRipple>
                    <a href=""><mat-icon [icIcon]="icAdmin" class="mr-3 align-middle"></mat-icon> Administrator</a>
                </div>
                <div @fadeInRight class="list-item no-underline flex justify-between items-center" matRipple>
                    <a href=""><mat-icon [icIcon]="icAdmin" class="mr-3 align-middle"></mat-icon> Admin Asst</a>
                    <a [matMenuTriggerFor]="addNewMenu"><mat-icon [icIcon]="icMoreVert"></mat-icon></a>
                </div>
                <div @fadeInRight class="list-item no-underline flex justify-between items-center" matRipple>
                    <a href=""><i class="icon-teacher mr-3 align-middle"></i> Teacher</a>
                </div>
                <div @fadeInRight class="list-item no-underline flex justify-between items-center" matRipple>
                    <a href=""><i class="icon-homeroom-teacher mr-3 align-middle"></i> Homeroom Teacher</a>
                </div>
                <div @fadeInRight class="list-item no-underline flex justify-between items-center" matRipple>
                    <a href=""><mat-icon [icIcon]="icParent" class="mr-3 align-middle"></mat-icon> Parent</a>
                </div>
                <div @fadeInRight class="list-item no-underline flex justify-between items-center" matRipple>
                    <a href=""><mat-icon [icIcon]="icStudent" class="mr-3 align-middle"></mat-icon> Student</a>
                </div>
            </div>
            <mat-menu #addNewMenu="matMenu" [overlapTrigger]="false" xPosition="before" yPosition="below">
                <button mat-menu-item>
                    <span>{{'editItem' | translate}}</span>
                </button>
                <button mat-menu-item>
                    <span>{{'deleteItem' | translate}}</span>
                </button>
            </mat-menu>
        </vex-scrollbar>
    </div>
    <div class="right-content">

        <vex-page-layout>
            <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
                <vex-secondary-toolbar current={{pageTitle}} [schoolSettings]="administrationSettings" [pages]="pages"
                    (selectedPage)="getSelectedPage($event)" class="w-full">
                    <vex-breadcrumbs [crumbs]="['Settings','Administration']" class="flex-auto"></vex-breadcrumbs>
                </vex-secondary-toolbar>
            </vex-page-layout-header>
            <vex-page-layout-content class="-mt-6">
                <div class="w-full -mt-16">
                            <vex-access-control></vex-access-control>
                        </div>
            </vex-page-layout-content>
        </vex-page-layout>
    </div>
</div>

<ng-template #otherPages>
    <vex-page-layout>
        <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
            <vex-secondary-toolbar current={{pageTitle}} [schoolSettings]="administrationSettings" [pages]="pages"
                (selectedPage)="getSelectedPage($event)" class="w-full">
                <vex-breadcrumbs [crumbs]="['Settings','Administration']" class="flex-auto"></vex-breadcrumbs>
            </vex-secondary-toolbar>
        </vex-page-layout-header>
        <vex-page-layout-content class="-mt-6">
                        <div *ngIf="pageId === 'profiles-and-permissions'">
                            <vex-access-control></vex-access-control>
                        </div>
        </vex-page-layout-content>
    </vex-page-layout>
</ng-template>