.students-list::after {
    content: ', ';
    display: inline-block;
    padding-right: 5px;
}
.students-list:last-child:after {
    display: none;
}

.mat-header-cell {
    color: rgb(0 0 0) !important;
}

.mat-header-cell {
    font-size  : 14px !important;
    font-weight: bold;
}

.hide {
    display: none;
}

.mat-footer-cell {
    text-align: center;
    font-style: italic;
}