<vex-page-layout>
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
        <vex-secondary-toolbar current="Settings" class="w-full">
            <vex-breadcrumbs [crumbs]="['Settings']" class="flex-auto"></vex-breadcrumbs>
        </vex-secondary-toolbar>
    </vex-page-layout-header>

    <vex-page-layout-content class="-mt-6">
        <div class="card overflow-auto -mt-16 px-gutter pt-0 pb-5">
            
            <ul class="md:grid md:grid-cols-3 md:col-gap-8 md:row-gap-5 mt-6">
                <li class="hover:bg-primary-light p-5 rounded">
                    <div class="flex">
                        <mat-icon [icIcon]="icSchool" size="30px" class="text-primary"></mat-icon>
                        <div class="ml-8">
                            <h4 class="font-bold">
                                <a (click) = "setPageId('Period')" routerLink="/school/settings/school-settings">School</a></h4>
                            <p>
                                <a (click) = "setPageId('Period')" routerLink="/school/settings/school-settings" class="hover:text-primary hover:underline">Periods</a>,
                                <a (click) = "setPageId('Grade Levels')" routerLink="/school/settings/school-settings" class="hover:text-primary hover:underline">Grade Levels</a>, 
                                <a (click) = "setPageId('Sections')" routerLink="/school/settings/school-settings" class="hover:text-primary hover:underline">Sections</a>,
                                <a (click) = "setPageId('Rooms')" routerLink="/school/settings/school-settings" class="hover:text-primary hover:underline">Rooms</a>,
                                <a (click) = "setPageId('School Fields')" routerLink="/school/settings/school-settings" class="hover:text-primary hover:underline">School Fields</a>,
                                <a (click) = "setPageId('Hierarchy')" routerLink="/school/settings/school-settings" class="hover:text-primary hover:underline">Hierarchy</a>,
                                <a (click) = "setPageId('Preference')" routerLink="/school/settings/school-settings" class="hover:text-primary hover:underline">Preference</a>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="hover:bg-primary-light p-5 rounded">
                    <div class="flex">
                        <mat-icon [icIcon]="icStudents" size="30px" class="text-primary"></mat-icon>
                        <div class="ml-8">
                            <h4 class="font-bold">
                                <a (click)="setPageId('Student Fields')" routerLink="/school/settings/student-settings">Student</a></h4>
                            <p>
                                <a (click)="setPageId('Student Fields')" routerLink="/school/settings/student-settings" class="hover:text-primary hover:underline">Student Fields</a>,
                                <a (click)="setPageId('Enrollment Codes')" routerLink="/school/settings/student-settings" class="hover:text-primary hover:underline">Enrollment Codes</a>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="hover:bg-primary-light p-5 rounded">
                    <div class="flex">
                        <mat-icon [icIcon]="icUsers" size="30px" class="text-primary"></mat-icon>
                        <div class="ml-8">
                            <h4 class="font-bold"><a href="">User</a></h4>
                            <p><a href="" class="hover:text-primary hover:underline">Parent Fields</a>, <a href="" class="hover:text-primary hover:underline">Staff Fields</a></p>
                        </div>
                    </div>
                </li>
                <li class="hover:bg-primary-light p-5 rounded">
                    <div class="flex">
                        <mat-icon [icIcon]="icAttendance" size="30px" class="text-primary"></mat-icon>
                        <div class="ml-8">
                            <h4 class="font-bold">
                                <a (click)="setPageId('Attendance Codes')" routerLink="/school/settings/attendance-settings">Attendance</a></h4>
                            <p><a (click)="setPageId('Attendance Codes')" routerLink="/school/settings/attendance-settings" class="hover:text-primary hover:underline">Attendance Codes</a></p>
                        </div>
                    </div>
                </li>
                <!-- <li class="hover:bg-primary-light p-5 rounded">
                    <div class="flex">
                        <mat-icon [icIcon]="icSchedule" size="30px" class="text-primary"></mat-icon>
                        <div class="ml-8">
                            <h4 class="font-bold"><a href="">Scheduling</a></h4>
                            <p><a href="" class="hover:text-primary hover:underline">Run Scheduler</a></p>
                        </div>
                    </div>
                </li> -->
                <li class="hover:bg-primary-light p-5 rounded">
                    <div class="flex">
                        <mat-icon [icIcon]="icGrade" size="30px" class="text-primary"></mat-icon>
                        <div class="ml-8">
                            <h4 class="font-bold"><a href="">Grades</a></h4>
                            <p><a href="" class="hover:text-primary hover:underline">Report Card Grades</a>, <a href="" class="hover:text-primary hover:underline">Report Card Comments</a>, <a href="" class="hover:text-primary hover:underline">Honor Roll Setup</a></p>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </vex-page-layout-content>
</vex-page-layout>