<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">{{'addAndLinkContact' | translate}}</h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>
<form [formGroup]="form">
    <mat-dialog-content fxLayout="column">
        <mat-form-field class="mt-6" appearance="outline" color="primary">
            <mat-label>{{'searchContact' | translate}}</mat-label>
            <input name="search" type="text" cdkFocusInitial matInput>
        </mat-form-field>

        <p class="text-center">- {{'orAddAsNewContactBelow' | translate}} -</p>

        <mat-form-field appearance="outline" class="mt-3" color="primary">
            <mat-label>{{'salutation'|translate}}</mat-label>
            <mat-select name="salutation">
                <mat-option value="">Mr.</mat-option>
                <mat-option value="">Miss.</mat-option>
                <mat-option value="">Mrs.</mat-option>
                <mat-option value="">Ms.</mat-option>
                <mat-option value="">Dr.</mat-option>
                <mat-option value="">Rev.</mat-option>
                <mat-option value="">Prof.</mat-option>
                <mat-option value="">Sir.</mat-option>
                <mat-option value="">Lord </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primary">
            <mat-label>{{'firstGivenName' | translate}}</mat-label>
            <input type="text" name="first_name" matInput required>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primary">
            <mat-label>{{'middleName' | translate}}</mat-label>
            <input type="text" name="middle_name" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primary">
            <mat-label>{{'lastFamilyName' | translate}}</mat-label>
            <input type="text" name="last_name" matInput required>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primary">
            <mat-label>{{'suffix'|translate}}</mat-label>
            <mat-select name="suffix">
                <mat-option value=""></mat-option>
                <mat-option value="">Jr.</mat-option>
                <mat-option value="">Sr</mat-option>
                <mat-option value="">II</mat-option>
                <mat-option value="">III</mat-option>
                <mat-option value="">IV</mat-option>
                <mat-option value="">V</mat-option>
                <mat-option value="">PhD</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primary">
            <mat-label>{{'contactRelationship' | translate}}</mat-label>
            <mat-select name="country">
                <mat-option>Father</mat-option>
                <mat-option>Mother</mat-option>
                <mat-option>Grand Father</mat-option>
                <mat-option>Step Father</mat-option>
                <mat-option>Step Mother</mat-option>
                <mat-option>Legal Guardian</mat-option>
                <mat-option>Other</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primary">
            <mat-label>{{'mobilePhone' | translate}}</mat-label>
            <input type="text" name="mobile_phone" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primary">
            <mat-label>{{'workPhone' | translate}}</mat-label>
            <input type="text" name="work_phone" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primary">
            <mat-label>{{'homePhone' | translate}}</mat-label>
            <input type="text" name="home_phone" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primary">
            <mat-label>{{'personalEmail' | translate}}</mat-label>
            <input type="text" name="personal_email" matInput>
        </mat-form-field>
        <mat-checkbox color="primary" class="-mt-3 mb-4">{{'usePersonalEmailAsLoginEmail' | translate}}</mat-checkbox>

        <mat-form-field appearance="outline" color="primary">
            <mat-label>{{'workEmail' | translate}}</mat-label>
            <input type="text" name="work_email" matInput>
        </mat-form-field>
        <mat-checkbox color="primary" class="-mt-3 mb-4">{{'useWorkEmailAsLoginEmail' | translate}}</mat-checkbox>

        <mat-form-field appearance="outline" color="primary">
            <mat-label>{{'userProfile' | translate}}</mat-label>
            <mat-select name="country" required>
                <mat-option>Parent</mat-option>
                <mat-option>Show Parent & Custom Parent Profiles</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="flex flex-auto mb-3">
            <mat-slide-toggle color="primary">{{'portalAccess' | translate}}</mat-slide-toggle>
        </div>

        <mat-form-field appearance="outline" color="primary">
            <mat-label>{{'loginEmailAddress' | translate}}</mat-label>
            <input type="email" name="login_email" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primary" class=" mb-6">
            <mat-label>{{'password' | translate}}</mat-label>
            <input type="password" name="password" matInput>
        </mat-form-field>

        <h6 class="text-primary">{{'address' | translate}}</h6>
        <div>
            <mat-radio-group aria-label="Select an option" color="primary">
                <mat-radio-button value="1" class="mr-3">{{'sameAsStudentsHomeAddress' | translate}}</mat-radio-button>
                <mat-radio-button value="2" checked="checked">{{'addNewAddress' | translate}}</mat-radio-button>
            </mat-radio-group>
        </div>

        <mat-form-field fxFlex="auto" class="mt-4" appearance="outline" color="primary">
            <mat-label>{{'streetAddress1'|translate}}</mat-label>
            <input name="street_address_1" matInput>
        </mat-form-field>

        <mat-form-field fxFlex="auto" appearance="outline" color="primary">
            <mat-label>{{'streetAddress2'|translate}}</mat-label>
            <input name="street_address_2" matInput>
        </mat-form-field>

        <mat-form-field fxFlex="auto" appearance="outline" color="primary">
            <mat-label>{{'country'|translate}}</mat-label>
            <mat-select name="country">
                <mat-option>Provide Country List</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="auto" appearance="outline" color="primary">
            <mat-label>{{'stateProvinceLocality'|translate}}</mat-label>
            <input name="state_province_locality" matInput>
        </mat-form-field>

        <mat-form-field fxFlex="auto" appearance="outline" color="primary">
            <mat-label>{{'city'|translate}}</mat-label>
            <input name="city" matInput>
        </mat-form-field>

        <mat-form-field fxFlex="auto" appearance="outline" color="primary">
            <mat-label>{{'zipPostalCode'|translate}}</mat-label>
            <input name="city" matInput>
        </mat-form-field>

        <mat-form-field fxFlex="auto" appearance="outline" color="primary">
            <mat-label>{{'busNo'|translate}}</mat-label>
            <input name="city" matInput>
        </mat-form-field>

        <div>
            <mat-checkbox color="primary" class="mr-6">{{'busPickup' | translate}}
            </mat-checkbox>
            <mat-checkbox color="primary">{{'busDropoff' | translate}}</mat-checkbox>
        </div>
        <div class="flex flex-auto mt-3">
            <mat-slide-toggle color="primary" class="mr-4">
                {{'custodyOfStudent' | translate}}</mat-slide-toggle>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="py-6">
        <button mat-button mat-dialog-close type="button">{{'cancel' | translate}}</button>
        <button color="primary" mat-raised-button type="submit">{{'submit' | translate}}</button>
    </mat-dialog-actions>
</form>