<vex-page-layout>
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">        
        <vex-secondary-toolbar current={{pageTitle}} [schoolSettings]="schoolSettings" [pages]="pages" (selectedPage)="getSelectedPage($event)" class="w-full">
            <vex-breadcrumbs [crumbs]="['Settings','School Settings']" class="flex-auto"></vex-breadcrumbs>
        </vex-secondary-toolbar>
    </vex-page-layout-header>    
    <vex-page-layout-content class="-mt-6">
        <mat-drawer-container class="bg-transparent flex-auto flex -mt-16">
            <mat-drawer-content class="flex-auto flex items-start">
                <mat-card  class="w-full p-0" fxFlex="auto">
                    <div *ngIf="displayGradeLevels">
                        <vex-grade-levels></vex-grade-levels>
                    </div>
                    <div *ngIf="displaySections">
                        <vex-sections></vex-sections>
                    </div>
                    <div *ngIf="displayRooms">
                        <vex-rooms></vex-rooms>
                    </div>
                    <div *ngIf="displaySchoolFields">
                        <vex-school-fields></vex-school-fields>
                    </div>
                </mat-card>
            </mat-drawer-content>
        </mat-drawer-container>
    </vex-page-layout-content>
</vex-page-layout>