<mat-card class="w-full">

    <mat-card-header>
        <mat-card-title>{{'addressInformation'|translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <div @stagger fxLayout="column">
            <h4 class="text-primary px-4 pb-2">{{'homeAddress'|translate}}</h4>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'streetAddress1'|translate}}</mat-label>
                        <input name="streetAddress1" matInput required>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'streetAddress2'|translate}}</mat-label>
                        <input name="streetAddress2" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'country'|translate}}</mat-label>
                        <mat-select name="salutation" required>
                            <mat-option value="">Show Country List</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'stateProvinceLocality'|translate}}</mat-label>
                        <input name="stateProvinceLocality" matInput required>
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'city'|translate}}</mat-label>
                        <input name="city" matInput required>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'zipPostalCode'|translate}}</mat-label>
                        <input name="zipPostalCode" matInput required>
                    </mat-form-field>
                </div>
            </div>
            

            <div class="px-4 pt-3 mb-4 text-right">
                <button color="primary" mat-raised-button>{{'submit'|translate}}</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>