<vex-page-layout>
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
        <vex-secondary-toolbar current="Schools List" class="w-full">
            <vex-breadcrumbs [crumbs]="['School']" class="flex-auto"></vex-breadcrumbs>
        </vex-secondary-toolbar>
    </vex-page-layout-header>

    <vex-page-layout-content class="-mt-6">

        <div class="card overflow-auto -mt-16">
            <div class="bg-white px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <div class="flex w-full justify-between">
                    <div class="py-3" fxFlex="300px" fxFlex.lt-md="auto" fxHide.xs fxLayout="row"
                        fxLayoutAlign="start center">
                        
                        <div class="flex">
                            <input
                                class="px-4 py-3 border-0 outline-none w-full bg-transparent" placeholder="Search..."
                                type="search">
                            <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
                                <mat-icon [icIcon]="icSearch"></mat-icon>
                            </button>
                        </div>
                    </div>


                    <div fxFlex="200px" class="pt-3">
                        <button 
                        [matMenuTriggerFor]="columnFilterMenu"
                  class="ml-4"
                  fxFlex="none"
                  mat-icon-button
                  matTooltip="Filter Columns"
                             type="button">
                            <mat-icon [icIcon]="icFilterList"></mat-icon>
                        </button>

                        <button color="primary" class="ml-4" fxFlex="none" mat-raised-button type="button"
                            (click)='goToAdd()'>
                            <ic-icon [icon]="icAdd" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2" inline="true"
                                size="24px">
                            </ic-icon>
                            <span>Add New School</span>
                        </button>
                    </div>
                </div>
            </div>

            <table @stagger mat-table [dataSource]="SchoolModelList" class="mat-elevation-z8" matSort>
                <!-- Checkbox Column -->
        <ng-container matColumnDef="checkbox">
          <th mat-header-cell *matHeaderCellDef>
          
          </th>
          <td mat-cell *matCellDef="let row" >
           
          </td>
        </ng-container>
      
        <ng-container matColumnDef="school_Name" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header>NAME</th>
               <td mat-cell *matCellDef="let element">
                <a  (click) ="viewGeneralInfo(element.school_Id)" class="text-blue" style="cursor: pointer;">                
                  {{element.school_Name}}</a>
                </td>
        </ng-container>
      
                <!-- Body -->
                <ng-container matColumnDef="school_Address">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>ADDRESS </th>
                       <td mat-cell *matCellDef="let element"> 
                        {{element.school_Address}}            
                    </td>
                </ng-container>
      
                <ng-container matColumnDef="principle">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>PRINCIPLE </th>
                  <td mat-cell *matCellDef="let element">
                    {{element.principle}}
                    </td>
                </ng-container>
      
                <ng-container matColumnDef="phone">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>PHONE </th>
                  <td mat-cell *matCellDef="let element">
                    {{element.phone}}
                       </td>
                </ng-container>
      
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef>STATUS </th>
                  <td mat-cell *matCellDef="let element"> 
                    <span *ngIf="element.status">Active</span>
                    <span *ngIf="!element.status">InActive</span>

                  </td>
                </ng-container>

                <ng-container matColumnDef="loading">
                  <mat-footer-cell *matFooterCellDef colspan="6">
                    <vex-mat-spinner-overlay *ngIf="loading" color="accent"></vex-mat-spinner-overlay>
                  </mat-footer-cell>
                </ng-container>
      
                <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: visibleColumns" @fadeInUp></tr>
                <mat-footer-row *matFooterRowDef="['loading']" [class.hide]="!loading"></mat-footer-row>

              </table>
              <mat-paginator [length]="totalCount" [pageSize]="pageSize"
                   [pageSizeOptions]="[10, 20, 30, 40]" showFirstLastButtons (page)='getPageEvent($event)'></mat-paginator>
        </div>
        
    </vex-page-layout-content>
</vex-page-layout>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
    <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
            class="checkbox-item mat-menu-item">
      <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
        {{column.label}}
      </mat-checkbox>
    </button>
</mat-menu>