<div class="text-right" *ngIf="schoolCtrl">
  <mat-form-field >
    <mat-select [formControl]="schoolCtrl" placeholder="School Name" (selectionChange)="changeSchool($event.value.school_Name,$event.value.school_Id)">
      <mat-option>
        <ngx-mat-select-search  [formControl]="schoolFilterCtrl" ngxMatSelectSearchClear noEntriesFoundLabel="No matching school found" placeholderLabel="Find School..."></ngx-mat-select-search>
      </mat-option>

      <mat-option *ngFor="let school of filteredSchools | async" [value]="school" >
        {{school.school_Name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 20%;">
    <mat-select [formControl]="yearCtrl" placeholder="Year">
      <mat-option *ngFor="let year of years" [value]="year">
        {{year.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 17%;">
    <mat-select [formControl]="partCtrl" placeholder="Parts">
      <mat-option *ngFor="let part of parts" [value]="part">
        {{part.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>


  

