<div class="text-right" *ngIf="schoolCtrl">
  <mat-form-field >
    <mat-select [formControl]="schoolCtrl" placeholder="School Name" (selectionChange)="changeSchool($event.value)">
      <mat-option>
        <ngx-mat-select-search  [formControl]="schoolFilterCtrl" ngxMatSelectSearchClear noEntriesFoundLabel="No matching school found" placeholderLabel="Find School..."></ngx-mat-select-search>
      </mat-option>

      <mat-option *ngFor="let school of filteredSchools | async" [value]="school" >
        {{school.schoolName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select [formControl]="academicYearsCtrl" placeholder="Year" (selectionChange)="changeYear($event)">
      <mat-option *ngIf="this.academicYears?.length==0" [value]=nullValueForDropdown>{{nullValueForDropdown}}</mat-option>
      <mat-option *ngFor="let year of academicYears" [value]="year">
        {{year.year}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select [formControl]="periodCtrl" placeholder="Period Title" (selectionChange)="changePeriod($event)">
      <mat-option *ngIf="this.periods?.length==0" [value]=nullValueForDropdown>{{nullValueForDropdown}}</mat-option>
      <mat-option *ngFor="let period of periods" [value]="period.periodTitle">
        {{period.periodTitle}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>


  

