<mat-card class="w-full">

    <mat-card-header>
        <mat-card-title>{{'schoolAndEnrollmentInfo'|translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <div @stagger fxLayout="column">
            <h4 class="text-primary px-4 pb-2">{{'schoolInformation'|translate}}</h4>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'currentGradeLevel'|translate}}</mat-label>
                        <mat-select name="current_grade_level">
                            <mat-option value=""></mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'section'|translate}}</mat-label>
                        <mat-select name="section">
                            <mat-option value=""></mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'enrollmentCalendar'|translate}}</mat-label>
                        <mat-select name="enrollment_calendar">
                            <mat-option value=""></mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'estimatedGraduationDate'|translate}}</mat-label>
                        <input name="estimated_graduation_date" matInput>
                        <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #datepickerRef></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'rollingRetentionOption'|translate}}</mat-label>
                        <mat-select name="rolling_retention_option">
                            <mat-option value=""></mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2"></div>
            </div>
            <div class="mb-2 mx-4">
                <div class="flex flex-wrap">
                    <mat-checkbox formControlName="doesEligibility" color="primary" class="mr-6">{{'504Eligibility' | translate}}</mat-checkbox>
                    <mat-checkbox formControlName="doesEconomicDisadvantage" color="primary" class="mr-6">{{'economicDisadvantage' | translate}}</mat-checkbox>
                    <mat-checkbox formControlName="doesFreeLunchEligibility" color="primary" class="mr-6">{{'freeLunchEligibility' | translate}}</mat-checkbox>
                    <mat-checkbox formControlName="doesFreeLunchEligibility" color="primary" class="mr-6">{{'freeLunchEligibility' | translate}}</mat-checkbox>
                    <mat-checkbox formControlName="doesSpecialEducationIndicator" color="primary" class="mr-6">{{'specialEducationIndicator' | translate}}</mat-checkbox>
                    <mat-checkbox formControlName="doesLepIndicator" color="primary">{{'lepIndicator' | translate}}</mat-checkbox>
                </div>
            </div>


            <h4 class="text-primary px-4 pb-2 pt-10">{{'enrollmentInfo'|translate}}</h4>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'school'|translate}}</mat-label>
                        <mat-select name="rolling_retention_option">
                            <mat-option value=""></mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'enrollmentStartDate'|translate}}</mat-label>
                        <input name="enrollment_start_date" matInput>
                        <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #datepickerRef></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="mb-2 md:flex md:flex-wrap">
                <div class="flex flex-1 mx-4 md:w-1/2">
                    <mat-form-field fxFlex="auto" class="w-full" appearance="outline" color="primary">
                        <mat-label>{{'enrollmentCode'|translate}}</mat-label>
                        <mat-select name="enrollment_code">
                            <mat-option value=""></mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex flex-1 mx-4 md:w-1/2"></div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div class="px-4 mb-2 text-right">
            <button color="primary" mat-raised-button>{{'submit'|translate}}</button>
        </div>
    </mat-card-actions>

</mat-card>