<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>        
    <h2 class="headline m-0" fxFlex="auto" *ngIf="isEdit; else add">{{'editSection' | translate}}</h2>
    <ng-template #add>
        <h2 class="headline m-0" fxFlex="auto">{{'addSection' | translate}}</h2>
      </ng-template>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose" (click) = 'closeDialog()'></mat-icon>
    </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>
<form [formGroup]="form" (ngSubmit)="submit()">
    <mat-dialog-content fxLayout="column">    
        <mat-form-field class="mt-6" appearance="outline" color="primary">
            <mat-label>{{'title' | translate}}</mat-label>
            <input formControlName="title"  [(ngModel)]="sectionAddModel.tableSections.name" name="title" cdkFocusInitial matInput required>
        </mat-form-field>        
        <mat-form-field class="mt-6" appearance="outline" color="primary">
            <mat-label>{{'sortOrder' | translate}}</mat-label>
            <input formControlName="sortOrder" type="number" [(ngModel)]="sectionAddModel.tableSections.sortOrder" name="sortOrder" cdkFocusInitial matInput required>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" class="py-6">
        <button mat-button mat-dialog-close type="button" (click) = 'closeDialog()'>{{'cancel' | translate}}</button>
        <button color="primary" mat-raised-button type="submit">{{'submit' | translate}}</button>
    </mat-dialog-actions>
</form>