.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.calendar {
    li {
        min-height: 100px;
        @apply border-r;
        @apply border-b;
        border-color: rgba(0,0,0,0.1);
    }
}

.calendar-header {
    li {
        @apply border-r;
        @apply border-b;
        border-color: rgba(0,0,0,0.1);
        padding: 8px;
    }
}