<vex-page-layout>
    <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
        <vex-secondary-toolbar current="Marking Period" class="w-full">
            <vex-breadcrumbs [crumbs]="['School Info','Marking Period']" class="flex-auto"></vex-breadcrumbs>
        </vex-secondary-toolbar>
    </vex-page-layout-header>
    <vex-mat-spinner-overlay *ngIf="loading"></vex-mat-spinner-overlay>
    <div class="-mt-6 absolute w-full" vexContainer>
        <mat-drawer-container class="bg-transparent flex-auto flex -mt-16" *ngIf="list.length > 0 ; else noData" vexContainer>
            <mat-drawer [(opened)]="menuOpen" mode="over" class="w-10/12">
                <mat-card @stagger class="w-full">
                    <div class="flex items-center pl-0" fxLayout="row" fxLayoutAlign="center center">
                        <h6 class="flex-auto">{{'markingPeriodsList' | translate}}</h6>
                        <button (click)="openAddNew()" type="button" color="primary" mat-button><ic-icon [icon]="icAdd" class="ltr:-ml-1 rtl:-mr-1 rtl:ml-2 ic-inline" inline="true"></ic-icon></button>
                    </div>
                    <p class="text-gray text-xs pb-5">{{'clickAnItemToViewDetailsOnTheRightSide' | translate}}</p>
                    <ul class="marking-period-tree">
                        <ng-template #recursiveList let-list>
                            <li *ngFor="let item of list;let indexOfelement=index;">                             
                                <div  [ngClass]= "indexOfelement === 0 && item.isParent? 'tree-node card flex shadow-none border-solid border commonClass active' :'tree-node card flex shadow-none border-solid border commonClass' ">
                                    <a  (click) = "viewDetails(item,$event.target)"  class="w-full p-3 cursor-pointer"> {{item.title}}</a>
                                    <button [matMenuTriggerFor]="addNewMenu" class="w-10 pt-3" type="button">
                                        <mat-icon [icIcon]="icArrowDropDown" size="20px"></mat-icon>
                                    </button>
    
                                    <mat-menu #addNewMenu="matMenu" [overlapTrigger]="false" xPosition="before"
                                        yPosition="below">
                                        <button (click) = "editItem(item)" mat-menu-item>
                                            <span>{{'editItem' | translate}}</span>
                                        </button>
    
                                        <button (click) = "confirmDelete(item)" mat-menu-item>
                                            <span>{{'deleteItem' | translate}}</span>
                                        </button>
                                        <div *ngIf="item.isParent || (item.semesterId > 0 && item.isParent === false) || (item.semesterId > 0 &&  item.isParent === false) || (item.yearId > 0 && item.isParent === false)">
                                            <button (click) = "addChildren(item)"  mat-menu-item>
                                                <span>{{'addChildMarkingPeriod' | translate}}</span>
                                            </button>
                                        </div>
                                        
                                    </mat-menu>
                                </div>              
                                
                                <ul *ngIf="item.children && item.children.length > 0">
                                    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
                                   
                                </ul>
                            </li>
                        </ng-template> 
                        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list }"></ng-container>
                    </ul>
                </mat-card>
            </mat-drawer>
            <mat-drawer-content class="flex-auto flex items-start p-gutter">
                <mat-card @stagger class="hidden md:block mr-6 ng-tns-c284-386 ng-star-inserted md:w-5/12">
                    <div class="flex items-center pl-0" fxLayout="row" fxLayoutAlign="center center">
                        <h6 class="flex-auto">{{'markingPeriodsList' | translate}}</h6>
                        <button (click)="openAddNew()" type="button" color="primary" mat-button><ic-icon [icon]="icAdd" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2 ic-inline" inline="true"></ic-icon> {{'addMarkingPeriod' | translate}}</button>
                    </div>
                    <p class="text-gray text-xs pb-5">{{'clickAnItemToViewDetailsOnTheRightSide' | translate}}</p>
                    <ul class="marking-period-tree">
                        <ng-template #recursiveList let-list>
                            <li *ngFor="let item of list;let indexOfelement=index;">
                                <div [ngClass]= "indexOfelement === 0 && item.isParent? 'tree-node card flex shadow-none border-solid border commonClass active' :'tree-node card flex shadow-none border-solid border commonClass' ">
                                    <a  (click) = "viewDetails(item,$event.target)" class="w-full p-3 cursor-pointer"> {{item.title}}</a>
                                    <button [matMenuTriggerFor]="addNewMenu" class="w-10 pt-3" type="button">
                                        <mat-icon [icIcon]="icArrowDropDown" size="20px"></mat-icon>
                                    </button>
    
                                    <mat-menu #addNewMenu="matMenu" [overlapTrigger]="false" xPosition="before"
                                        yPosition="below">
                                        <button (click) = "editItem(item)" mat-menu-item>
                                            <span>{{'editItem' | translate}}</span>
                                        </button>
    
                                        <button (click) = "confirmDelete(item)" mat-menu-item>
                                            <span>{{'deleteItem' | translate}}</span>
                                        </button>
                                        <div *ngIf="item.isParent || (item.semesterId > 0 && item.isParent === false) || (item.semesterId > 0 &&  item.isParent === false) || (item.yearId > 0 && item.isParent === false)">
                                            <button (click) = "addChildren(item)"  mat-menu-item>
                                                <span>{{'addChildMarkingPeriod' | translate}}</span>
                                            </button>
                                        </div>
                                        
                                    </mat-menu>
                                </div>              
                                
                                <ul *ngIf="item.children && item.children.length > 0">
                                    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
                                   
                                </ul>
                            </li>
                        </ng-template>                   
                        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list }"></ng-container>
                    </ul>
                </mat-card>

                <mat-card @fadeInUp class="w-full md:w-7/12 p-0" fxFlex="auto" >
                    <div class="flex items-center mx-4 py-3 pl-0 md:pl-3" fxLayout="row" fxLayoutAlign="center center">
                        <button (click)="openMenu()" class="md:hidden text-primary" mat-icon-button
                            type="button">
                            <mat-icon [icIcon]="icMenu"></mat-icon>
                        </button>
                       
                        <h3 class="flex-auto" *ngIf="viewFirstChild != undefined">{{viewFirstChild.title}}</h3>
                        <button [matMenuTriggerFor]="addMenu" class="w-10 pt-3" type="button">
                            <mat-icon [icIcon]="icMoreVert" size="20px"></mat-icon>
                        </button>
                        <mat-menu #addMenu="matMenu" [overlapTrigger]="false" xPosition="before"  yPosition="below">
                            <button (click) = "editItem(viewFirstChild)" mat-menu-item>
                                <span>{{'editItem' | translate}}</span>
                            </button>

                            <button (click) = "confirmDelete(viewFirstChild)" mat-menu-item>
                                <span>{{'deleteItem' | translate}}</span>
                            </button>
                                                               
                        </mat-menu>
                    </div>
                    <mat-card-content>
                        <div class="border-t border-b py-3 px-6">
                            <div class="flex align-items-center mr-6">
                                <div *ngIf="doesGrades;else doesnotGrades" class="mr-6">
                                    <mat-icon [icIcon]="icCheckBox" class="inline-block align-middle"></mat-icon> {{'graded' | translate}}
                                </div>
                                <ng-template #doesnotGrades>
                                    <mat-icon [icIcon]="icCheckBoxOutlineBlank"></mat-icon> <span class="mr-6">{{'graded' | translate}}</span>
                                </ng-template>
                                <div *ngIf="doesExam;else doesnotExam" class="mr-6">
                                    <mat-icon [icIcon]="icCheckBox" class="inline-block align-middle"></mat-icon> {{'exam' | translate}}
                                </div>
                                <ng-template #doesnotExam>
                                    <mat-icon [icIcon]="icCheckBoxOutlineBlank"></mat-icon><span class="ml-2 mr-6">{{'exam' | translate}}</span>                               
                                </ng-template>
                                <div *ngIf="doesComments;else doesnotComments" class="mr-6">
                                    <mat-icon [icIcon]="icCheckBox" class="inline-block align-middle"></mat-icon> {{'comments' | translate}}
                                </div>
                                <ng-template #doesnotComments>
                                    <mat-icon [icIcon]="icCheckBoxOutlineBlank"></mat-icon><span class="ml-1 mr-6">{{'comments' | translate}}</span>                               
                                </ng-template>
                            </div>
                        </div>
                        <div class="p-6">
                            <ul class="grid md:grid md:grid-cols-2 md:col-gap-8 row-gap-5 md:row-gap-10">
                                <li>
                                    <label class="text-sm leading-5 text-gray">{{'title' | translate}}</label>
                                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2" *ngIf="viewFirstChild != undefined">{{viewFirstChild.title}}</p>
                                </li>
                                <li>
                                    <label class="text-sm leading-5 text-gray">{{'shortName' | translate}}</label>
                                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2" *ngIf="viewFirstChild != undefined">{{viewFirstChild.shortName}}</p>
                                </li>
                                <li>
                                    <label class="text-sm leading-5 text-gray">{{'begins' | translate}}</label>
                                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2" *ngIf="viewFirstChild != undefined">{{viewFirstChild.startDate}}</p>
                                </li>
                                <li>
                                    <label class="text-sm leading-5 text-gray">{{'ends' | translate}}</label>
                                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2" *ngIf="viewFirstChild != undefined">{{viewFirstChild.endDate}}</p>
                                </li>
                                <li>
                                    <label class="text-sm leading-5 text-gray">{{'gradePostingBegins' | translate}}</label>
                                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2" *ngIf="viewFirstChild != undefined">{{viewFirstChild.postStartDate}}</p>
                                </li>
                                <li>
                                    <label class="text-sm leading-5 text-gray">{{'gradePostingEnds' | translate}}</label>
                                    <p class="mt-1 text-sm leading-5 sm:mt-0 sm:col-span-2" *ngIf="viewFirstChild != undefined">{{viewFirstChild.postEndDate}}</p>
                                </li>
                            </ul>
                        </div>
                    </mat-card-content>
            </mat-card>
            
            </mat-drawer-content>
        </mat-drawer-container>
        <ng-template #noData>
            <mat-drawer-container class="bg-transparent flex-auto flex -mt-16" vexContainer>
                <mat-drawer-content class="flex-auto flex items-start p-gutter">
                    <mat-card @stagger class="w-full text-center py-20 md:py-32">

                        <div @fadeInUp class="text-center">
                            <div class="mb-6">
                                <ic-icon [icon]="icInfo" size="60px"></ic-icon>
                            </div>
                            <h1 class="mb-6 opacity-75">No <span class="font-bold">Marking Period</span> Data
                                Found!</h1>
                            <button (click)="openAddNew()" type="button" color="primary" mat-raised-button>
                                    <ic-icon [icon]="icAdd" class="ltr:-ml-1 rtl:-mr-1 ltr:mr-2 rtl:ml-2 ic-inline"
                                        inline="true">
                                    </ic-icon> {{'addAFullYearToBegin' | translate}}
                                </button>
            </div>
                    </mat-card>
                </mat-drawer-content>
            </mat-drawer-container>
        </ng-template>
        
    </div>
</vex-page-layout>
