<div class="w-full h-full bg-gradient" fxLayout="column" fxLayoutAlign="center center">
  
  <div @fadeInUp class="w-full md:w-2/4 lg:w-4/12">
  <div class="card overflow-hidden w-full py-6 px-4">
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img  src="assets/img/logo_dark.png">
      </div>
    </div>

    <div class="datetime-container fixed bottom-10 left-10 text-white opacity-25 hidden md:block">

      <div class="text-6xl leading-tight">{{ time | async | date: 'H:mm' }}</div>
      <div class="text-2xl leading-tight">{{ time | async | date: 'fullDate'}}</div>
    </div>

      <div class="text-center mt-4">
        <!-- <h2 class="title m-0">Welcome back</h2> -->
        <h4 class="body-2 text-secondary m-0">{{'SIS'| translate}}</h4>
      </div>
  
      <form [formGroup]="form" class="p-6" fxLayout="column" fxLayoutGap="16px" (ngSubmit)="send()">
        <div fxFlex="auto" fxLayout="column">
            <mat-form-field appearance="outline" class="vex-flex-form-field" color="primary">
            <mat-label>{{'emailAddress'|translate}}</mat-label>
            <input formControlName="email" (keyup)="checkDisable()" [(ngModel)]="UserModel.email" name="user_name"
              matInput required>
              <mat-error *ngIf="form.get('email').hasError('required')">{{'emailAddressIsRequired'|translate}}</mat-error>
             
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="vex-flex-form-field" color="primary">
              <mat-label>{{'password'|translate}}</mat-label>
            <input [type]="inputType" (keyup)="checkDisable()" formControlName="password"
              [(ngModel)]="UserModel.password" name="user_password" matInput required>
              <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
                <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
                <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
              </button>
              <mat-error *ngIf="form.get('password').hasError('required')">{{'passwordIsRequired'|translate}}</mat-error>
            </mat-form-field>

          <mat-form-field appearance="outline" class="vex-flex-form-field" color="primary">
            <mat-label>{{'language'|translate}}</mat-label>
            <select matNativeControl required #selectedLang (change)="switchLang(selectedLang.value)">
              <option *ngFor="let language of translate.getLangs()" [value]="language"
                [selected]="language === translate.currentLang">
                {{ language|translate }}
              </option>
            </select>
          </mat-form-field>
        </div>
  
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-checkbox class="caption" color="primary" class="text-sm">{{'rememberMe'|translate}}</mat-checkbox>
          <a [routerLink]="['/forgot-password']" class="caption" class="text-sm"><span
              class="text-blue-600">{{'forgotPassword'|translate}}</span></a>
        </div>
      
       
        <button color="primary" mat-raised-button type="button" [disabled]="isDisable" class="pt-2 pb-2" type="submit" >
          {{'signIn'|translate}}
        </button>
       
    </form>    
  <div class="pt-5 text-center text-white">
    &copy; {{'2020OpenSolutionsForEducation(OS4Ed)'|translate}}
  </div>
</div>
  </div>