.trademarks {
    position  : fixed;
    bottom    : 25px;
    right     : 25px;
    width     : 323px;
    // color     : rgba(255, 255, 255, 0.3);
    text-align: right;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    opacity: 0;
    padding: 0;
    border: 0;
  }

  
@media only screen and (max-width: 767px) {
  .card {
    box-shadow: none;
  }
  }