<!--School Module-->
<div *ngIf="schoolAddViewModel.schoolMaster.fieldsCategory && module =='School'">
    <div class="py-6" @stagger fxLayout="column"
        *ngIf="schoolAddViewModel.schoolMaster.fieldsCategory[categoryId]?.customFields.length > 0">
        <ul *ngIf="schoolCreateMode==schoolCreate.EDIT" class="md:grid md:grid-cols-2 md:col-gap-8 md:row-gap-0 mx-2">
            <fieldset ngModelGroup="vex-custom-field-without-form">
                <li *ngFor="let customField of schoolAddViewModel.schoolMaster.fieldsCategory[categoryId]?.customFields; let index = index"
                    [ngSwitch]="customField.type">
                    <div *ngSwitchCase="'Checkbox'">
                        <mat-checkbox
                            [(ngModel)]="schoolAddViewModel.schoolMaster.fieldsCategory[categoryId].customFields[index].customFieldsValue[0].customFieldValue"
                            name="{{customField.title.replace(' ','_')}}" color="primary" class="mr-6">
                            {{customField.title}}
                        </mat-checkbox>
                    </div>
                    <div *ngSwitchCase="'Dropdown'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <mat-select name="{{customField.title.replace(' ','_')}}" #schoolDropdown="ngModel"
                                [(ngModel)]="schoolAddViewModel.schoolMaster.fieldsCategory[categoryId].customFields[index].customFieldsValue[0].customFieldValue"
                                [required]="customField.required ? true : null ">
                                <mat-option *ngFor="let option of customField.selectOptions.split('|')"
                                    [value]="option">
                                    {{ option }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="schoolDropdown.errors?.required">
                                {{customField.title}} is required</mat-error>

                        </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'Textarea'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <textarea name="{{customField.title.replace(' ','_')}}" #schoolTextArea="ngModel" matInput
                                [(ngModel)]="schoolAddViewModel.schoolMaster.fieldsCategory[categoryId]?.customFields[index]?.customFieldsValue[0].customFieldValue"
                                [required]="customField.required ? true : null "></textarea>

                            <mat-error *ngIf="schoolTextArea.errors?.required">
                                {{customField.title}} is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'Number'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <input matInput type="field.type" maxlength="100"
                                [required]="customField.required ? true : null"
                                name="{{customField.title.replace(' ','_')}}">
                        </mat-form-field>
                    </div>

                    <div *ngSwitchCase="'Date'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <input name="{{customField.title.replace(' ','_')}}"
                                [(ngModel)]="schoolAddViewModel.schoolMaster.fieldsCategory[categoryId]?.customFields[index]?.customFieldsValue[0].customFieldValue"
                                [matDatepicker]="testDate" matInput [required]="customField.required ? true : null ">
                            <mat-datepicker-toggle [for]="testDate" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #testDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'Text'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <input name="{{customField.title.replace(' ','_')}}" #schoolField="ngModel"
                                [(ngModel)]="schoolAddViewModel.schoolMaster.fieldsCategory[categoryId]?.customFields[index]?.customFieldsValue[0].customFieldValue"
                                matInput type="customField.type" maxlength="100"
                                [required]="customField.required ? true : null ">
                            <mat-error *ngIf="schoolField.errors?.required">
                                {{customField.title}} is required</mat-error>

                        </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'Multiple SelectBox'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <mat-select name="{{customField.title.replace(' ','_')}}"
                                [(ngModel)]="schoolMultiSelectValue" (ngModelChange)="modelChanged($event)"
                                multiple [required]="customField.required ? true : null ">
                                <mat-option *ngFor="let option of customField.selectOptions.split('|')"
                                    [value]="option">
                                    {{option}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </li>
            </fieldset>
        </ul>

        <ul *ngIf="schoolCreateMode==schoolCreate.VIEW" class="md:grid md:grid-cols-3 md:col-gap-8 md:row-gap-10">
            <li
                *ngFor="let customField of schoolAddViewModel.schoolMaster?.fieldsCategory[categoryId]?.customFields; let index = index">
                <label class="text-sm leading-5 text-gray">{{customField.title}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                    {{schoolAddViewModel.schoolMaster.fieldsCategory[categoryId].customFields[index]?.customFieldsValue[0].customFieldValue |EmtyValueCheckPipe}}
                </p>
            </li>
        </ul>
    </div>
</div>
<!---->

<!--Student Module-->

<div *ngIf="studentAddModel?.fieldsCategoryList && module =='Student'">
    <div class="py-6" @stagger fxLayout="column"
        *ngIf="studentAddModel?.fieldsCategoryList[categoryId]?.customFields.length > 0">
        <ul *ngIf="studentCreateMode==schoolCreate.EDIT" class="md:grid md:grid-cols-2 md:col-gap-8 md:row-gap-0 mx-2">
            <fieldset ngModelGroup="vex-custom-field-without-form">
                <li *ngFor="let customField of studentAddModel.fieldsCategoryList[categoryId]?.customFields; let index = index"
                    [ngSwitch]="customField.type">
                    <div *ngSwitchCase="'Checkbox'">
                        <mat-checkbox
                            [(ngModel)]="studentAddModel.fieldsCategoryList[categoryId].customFields[index].customFieldsValue[0].customFieldValue"
                            name="{{customField.title.replace(' ','_')}}" color="primary" class="mr-6">
                            {{customField.title}}
                        </mat-checkbox>
                    </div>
                    <div *ngSwitchCase="'Dropdown'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <mat-select name="{{customField.title.replace(' ','_')}}" #schoolDropdown="ngModel"
                                [(ngModel)]="studentAddModel.fieldsCategoryList[categoryId].customFields[index].customFieldsValue[0].customFieldValue"
                                [required]="customField.required ? true : null ">
                                <mat-option *ngFor="let option of customField.selectOptions.split('|')"
                                    [value]="option">
                                    {{ option }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="schoolDropdown.errors?.required">
                                {{customField.title}} is required</mat-error>

                        </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'Textarea'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <textarea name="{{customField.title.replace(' ','_')}}" #schoolTextArea="ngModel" matInput
                                [(ngModel)]="studentAddModel.fieldsCategoryList[categoryId]?.customFields[index]?.customFieldsValue[0].customFieldValue"
                                [required]="customField.required ? true : null "></textarea>

                            <mat-error *ngIf="schoolTextArea.errors?.required">
                                {{customField.title}} is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'Number'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <input matInput type="field.type" maxlength="100"
                                [required]="customField.required ? true : null"
                                name="{{customField.title.replace(' ','_')}}">
                        </mat-form-field>
                    </div>

                    <div *ngSwitchCase="'Date'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <input name="{{customField.title.replace(' ','_')}}"
                                [(ngModel)]="studentAddModel.fieldsCategoryList[categoryId]?.customFields[index]?.customFieldsValue[0].customFieldValue"
                                [matDatepicker]="testDate" matInput [required]="customField.required ? true : null ">
                            <mat-datepicker-toggle [for]="testDate" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #testDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'Text'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <input name="{{customField.title.replace(' ','_')}}" #schoolField="ngModel"
                                [(ngModel)]="studentAddModel.fieldsCategoryList[categoryId]?.customFields[index]?.customFieldsValue[0].customFieldValue"
                                matInput type="customField.type" maxlength="100"
                                [required]="customField.required ? true : null ">
                            <mat-error *ngIf="schoolField.errors?.required">
                                {{customField.title}} is required</mat-error>

                        </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'Multiple SelectBox'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <mat-select name="{{customField.title.replace(' ','_')}}"
                                [(ngModel)]="studentMultiSelectValue" (ngModelChange)="modelChanged($event)"
                                multiple [required]="customField.required ? true : null ">
                                <mat-option *ngFor="let option of customField.selectOptions.split('|')"
                                    [value]="option">
                                    {{option}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </li>
            </fieldset>
        </ul>

        <ul *ngIf="studentCreateMode==schoolCreate.VIEW" class="grid md:grid-cols-3 col-gap-8 row-gap-10 my-3 mx-2">
            <li
                *ngFor="let customField of studentAddModel.fieldsCategoryList[categoryId]?.customFields; let index = index">
                <label class="text-sm leading-5 text-gray">{{customField.title}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                    {{studentAddModel?.fieldsCategoryList[categoryId]?.customFields[index]?.customFieldsValue[0].customFieldValue | EmtyValueCheckPipe}}
                </p>
            </li>
        </ul>
    </div>
</div>
<!---->

<!--Start Staff Module-->
<div *ngIf="staffAddModel?.fieldsCategoryList && module =='Staff'">
    <div class="py-6" @stagger fxLayout="column"
        *ngIf="staffAddModel?.fieldsCategoryList[categoryId]?.customFields.length > 0">
        <ul *ngIf="staffCreateMode==schoolCreate.EDIT" class="md:grid md:grid-cols-2 md:col-gap-8 md:row-gap-0 mx-2">
            <fieldset ngModelGroup="vex-custom-field-without-form">
                <li *ngFor="let customField of staffAddModel.fieldsCategoryList[categoryId]?.customFields; let index = index"
                    [ngSwitch]="customField.type">
                    <div *ngSwitchCase="'Checkbox'">
                        <mat-checkbox
                            [(ngModel)]="staffAddModel.fieldsCategoryList[categoryId].customFields[index].customFieldsValue[0].customFieldValue"
                            name="{{customField.title.replace(' ','_')}}" color="primary" class="mr-6">
                            {{customField.title}}
                        </mat-checkbox>
                    </div>
                    <div *ngSwitchCase="'Dropdown'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <mat-select name="{{customField.title.replace(' ','_')}}" #schoolDropdown="ngModel"
                                [(ngModel)]="staffAddModel.fieldsCategoryList[categoryId].customFields[index].customFieldsValue[0].customFieldValue"
                                [required]="customField.required ? true : null ">
                                <mat-option *ngFor="let option of customField.selectOptions.split('|')"
                                    [value]="option">
                                    {{ option }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="schoolDropdown.errors?.required">
                                {{customField.title}} is required</mat-error>

                        </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'Textarea'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <textarea name="{{customField.title.replace(' ','_')}}" #schoolTextArea="ngModel" matInput
                                [(ngModel)]="staffAddModel.fieldsCategoryList[categoryId]?.customFields[index]?.customFieldsValue[0].customFieldValue"
                                [required]="customField.required ? true : null "></textarea>

                            <mat-error *ngIf="schoolTextArea.errors?.required">
                                {{customField.title}} is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'Number'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <input matInput type="field.type" maxlength="100"
                                [required]="customField.required ? true : null"
                                name="{{customField.title.replace(' ','_')}}">
                        </mat-form-field>
                    </div>

                    <div *ngSwitchCase="'Date'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <input name="{{customField.title.replace(' ','_')}}"
                                [(ngModel)]="staffAddModel.fieldsCategoryList[categoryId]?.customFields[index]?.customFieldsValue[0].customFieldValue"
                                [matDatepicker]="testDate" matInput [required]="customField.required ? true : null ">
                            <mat-datepicker-toggle [for]="testDate" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #testDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'Text'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <input name="{{customField.title.replace(' ','_')}}" #schoolField="ngModel"
                                [(ngModel)]="staffAddModel.fieldsCategoryList[categoryId]?.customFields[index]?.customFieldsValue[0].customFieldValue"
                                matInput type="customField.type" maxlength="100"
                                [required]="customField.required ? true : null ">
                            <mat-error *ngIf="schoolField.errors?.required">
                                {{customField.title}} is required</mat-error>

                        </mat-form-field>
                    </div>
                    <div *ngSwitchCase="'Multiple SelectBox'">
                        <mat-form-field class="w-full" appearance="outline" color="primary">
                            <mat-label>{{customField.title}}</mat-label>
                            <mat-select name="{{customField.title.replace(' ','_')}}"
                                [(ngModel)]="staffMultiSelectValue" (ngModelChange)="modelChanged($event)"
                                multiple [required]="customField.required ? true : null ">
                                <mat-option *ngFor="let option of customField.selectOptions.split('|')"
                                    [value]="option">
                                    {{option}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </li>
            </fieldset>
        </ul>

        <ul *ngIf="staffCreateMode==schoolCreate.VIEW" class="grid md:grid-cols-3 col-gap-8 row-gap-10 my-3 mx-2">
            <li
                *ngFor="let customField of staffAddModel?.fieldsCategoryList[categoryId]?.customFields; let index = index">
                <label class="text-sm leading-5 text-gray">{{customField.title}}</label>
                <p class="mt-1 text-base leading-5 sm:mt-0 sm:col-span-2">
                    {{staffAddModel?.fieldsCategoryList[categoryId]?.customFields[index]?.customFieldsValue[0].customFieldValue | EmtyValueCheckPipe}}
                </p>
            </li>
        </ul>
    </div>
</div>

<!--End Staff Module-->