.custom-tabs {
    ul {

        li {

            a {
                @apply font-bold;
                @apply opacity-50;
            }

            &.active {

                a {
                    @apply border-b-2;
                    @apply border-primary;
                    @apply opacity-100;
                    margin-bottom: -1px;
                }
            }            

        }
    }
}